@model KRBAccounting.Web.ViewModels.ChangePasswordModel
@using (Ajax.BeginForm("ChangePassword", "Account", new { controller = "Account" }, new AjaxOptions { HttpMethod = "Post", OnSuccess = "OnsuccessChangePassword" }))
{
    
    <div id="MsgErrorChangepassword"></div>@Html.ValidationSummary(true)
   <div style="height:140px;">
        
            <div class="lag">
                <label class="label-160">
                    Old Password :</label>
                <span class="field">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "input-190 input" })
                    @Html.ValidationMessageFor(m => m.OldPassword)
                </span>
            </div>
            <div class="lag">
                    
                <label class="label-160">New Password :</label>
                <span class="field">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "input-190 input" })
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </span>
            </div>
            <div class="lag">
              
                <label class="label-160">
                    Confirm Password :</label>
                <span class="field">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input-190 input" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </span>
            </div>
           
        </div>
    <div class="clearfix"></div>
        <div class="form-actions">
            <p><input type="submit" class="btn btn-info" value="Save"/></p>
        </div>
}