@model KRBAccounting.Web.ViewModels.ChangePasswordModel

    @using (Ajax.BeginForm("ChangePassword", "Teacher", new { controller = "Teacher" }, new AjaxOptions { HttpMethod = "Post", OnSuccess = "OnsuccessChangePassword" }, new { @class = "form-horizontal" }))
{
    <div id="MsgErrorChangepassword"></div>@Html.ValidationSummary(true)
   <div style="height:140px;">
        
            <div class="control-group">
                <label class="label-160 control-label">
                    Old Password </label>
                <span class="field controls">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "input-190 input" })
                    @Html.ValidationMessageFor(m => m.OldPassword)
                </span>
            </div>
            <div class="control-group">
                <label class="label-160 control-label">New Password </label>
                  <span class="field controls">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "input-190 input" })
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </span>
            </div>
           <div class="control-group">
                <label class="label-160 control-label">
                    Confirm Password </label>
                <span class="field controls">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input-190 input" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </span>
            </div>
           
        </div>
    <div class="control-group">
        <div class="controls">
            <input type="submit" class="btn btn-primary" value="Change Password" />
        </div>
    </div>
}