@using KRBAccounting.Enums
@using KRBAccounting.Service
@using KRBAccounting.Service.Helpers
@model KRBAccounting.Web.ViewModels.Report.ReportTeacherScheduleReportViewModel
<link rel="stylesheet" type="text/css" media="print" href="/Content/Style.css" />
<link rel="stylesheet" type="text/css" media="print" href="/Content/bootstrap/css/bootstrap.css" />
<div class="clearfix">
</div>
<div class="row-fluid">
    <h3 class="page-title">Class: @Model.Schedules.FirstOrDefault().Class.Description
        @if (Model.Schedules.FirstOrDefault().Section != null)
        {
            <text> (sec : @Model.Schedules.FirstOrDefault().Section.Description) </text> 
        }
    </h3>
</div>
<div class="row-fluid">
    <div class="social-box">
        <div class="header">
            <h4>
                <img alt="Class-routine" src="/Content/social/assets/img/icons/stuttgart-icon-pack/32x32/class-routine.png"
                    width="22" />
                class Routine</h4>
            <div class="tools">
                <div class="btn-group">
                    <button data-toggle="dropdown" class="btn dropdown-toggle">
                        <i class="icon-cog"></i>
                    </button>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="#">Print</a></li>
                        <li><a href="#">Save as PDF</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Export to Excel</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="body">
            @if (Model.Schedules.Any())
            {
                <table class="table table-bordered" cellspacing="0" cellpadding="0" width="100%" style="font-size: 12px">
                    @for (int i = 1; i <= 6; i++)
                    {
                        <thead>
                            <th>
                            </th>
                            @foreach (var item in Model.Schedules)
                            {

                                foreach (var source in item.DetailCollection.Where(x => x.DisplayOrder == i))
                                {
                                    var time = source.StartTime + " - " + source.EndTime;
                                <th>
                                    @time
                                </th>
                                }

                            }
                        </thead>
                        <tr style="height: 50px; text-align: center;">
                            @{
                            var day = @Model.Schedules.FirstOrDefault().DetailCollection.FirstOrDefault(x => x.DisplayOrder == i).Day;
                            }
                            <td>
                                <b>@day</b>
                            </td>
                            @foreach (var item in Model.Schedules)
                            {

                                foreach (var source in item.DetailCollection.Where(x => x.DisplayOrder == i))
                                {
                                <td>
                                    @if (source.ClassSchedule.Subject != null)
                                    {
                                        @source.ClassSchedule.Subject.Description
                                    }
                                </td>
                                }

                            }
                        </tr>
                    }
                </table>
            }</div>
    </div>
</div>
<div class="clearfix">
</div>
