@{
    ViewBag.Title = "DashBoard";
    var serializer = new JavaScriptSerializer();

}


@using System.Web.Script.Serialization
@using KRBAccounting.Domain.Entities
@model KRBAccounting.Web.ViewModels.Library.LibraryDashBoardViewModel
           
           
           
           <script src="@Url.Content("~/Content/highchartjs/highcharts.js")" type="text/javascript"></script>
           <script src="@Url.Content("~/Content/highchartjs/modules/exporting.js")" type="text/javascript"></script>
<div class="workplace">
    <div class="row-fluid">
        <div class="span12">
            <div class="span6">
                <div class="head">
                    <h1>
                        New Arrival Book
                    </h1>
                    <div class="clearfix">
                    </div>
                </div>
                @Html.Partial("_PartialNewArrivalBooksList", Model.NewArrival)
            </div>
            <div class="span6">
                <div class="head">
                    <h1>
                        Due Book
                    </h1>
                    <div class="clearfix">
                    </div>
                </div>
                @Html.Partial("_PartialDashboardDueBookIssuedList", Model.DueBookIssueds)
            </div>
            <div class="clearfix">
            </div>
            <hr />
        </div>
        <div class="row-fluid">
            <div class="span6" style="margin-left: 0">
                @Html.Partial("_PartialDashBoardBookSearch", new
                                                       KRBAccounting.Web.ViewModels.Library.LibraryBookSearchViewModel())
            </div>
            <div class="span4">
                    <div id="bookChart" style="min-width: 100px; height: 231px; margin: 0 auto">
                    </div>
                </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {

        $("#DueBook").dataTable({ "iDisplayLength": 5, "sPaginationType": "full_numbers", "bLengthChange": false, "bFilter": false, "bInfo": false, "bPaginate": true, "aoColumns": [{ "bSortable": false }, null, null, null, null, null, null] });

    });
   
    $('#bookChart').highcharts({

        colors: ['#058DC7', '#50B432', '#ED561B', '#DDDF00', '#64E572', '#FF9655', '#FFF263', '#6AF9C4'],
        chart: {
            backgroundColor: {
                linearGradient: { x1: 0, y1: 0, x2: 1, y2: 1 },
                stops: [
                        [0, 'rgb(255, 255, 255)'],
                        [1, 'rgb(240, 240, 255)']
                    ]
            },
            type: 'pie',
            borderWidth: 2
        },

        title: {
            text: 'Library Book Analysis ',
            style: {
                color: '#000',
                font: 'bold 16px "Trebuchet MS", Verdana, sans-serif',
                fontSize: '13px',
                fontWeight: 'bold'
            }
        },

        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        credits: {
            enabled: false
        },

        labels: {
            style: {
                color: '#99b'
            }
        },


        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'


        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false
                },
                showInLegend: true

            }
        },
        series: [{
            type: 'pie',
            name: 'Books',
            data: [
                    ['Available', @Model.AvailableBooks],
                    {
                        name: 'Borrowed',
                        y: @Model.NotAvailableBooks,
                        selected: true,
                        sliced: true
                    }]
        }]



    });
       
    
</script>
