@model KRBAccounting.Web.ViewModels.Academy.AcademicsExamAddViewModel
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
@{
   
    var Startdate = Model.StartDate.ToString("dd/MM/yyyy");
    var Enddate = Model.EndDate.ToString("dd/MM/yyyy");
}
@using (Ajax.BeginForm("OnlineExamAdd", "Exam", new { controller = "Exam" }, new AjaxOptions { HttpMethod = "Post", OnSuccess = "success" }, new { @class = "form-horizontal from-custom online-form", id = "exam-form-id" }))
{
    <div class="lag">
        <label class="label-90">
            Description</label>
        <div class="field">
            @Html.TextBoxFor(m => m.ScExam.Description, new { @class = "input-215 input", entermsg = "Enter Description" })
            @Html.ValidationMessageFor(m => m.ScExam.Description)
        </div>
         <label class="label-90">
            Code</label>
        <div class="field">
            @Html.TextBoxFor(m => m.ScExam.Code, new { @class = "input-120 input", entermsg = "Enter Description" })
            @Html.ValidationMessageFor(m => m.ScExam.Code)
        </div>
    </div>

    
    <div class="clearfix">
    </div>
    
    <div class="lag">
       
            <label class="label-90">
                Strart Date</label>
            <div class="field"><span>
                @Html.HiddenFor(m => m.ScExam.StartMiti)
                @Html.HiddenFor(m => m.StartDate, new { displayId = "DisplayStartDate" })
                @Html.TextBoxFor(m => m.DisplayStartDate, new { @class = "input-170 input", entermsg = "Enter Voucher Date.", miti = Model.SystemControl.DateType, dateId = "StartDate", displayId = "DisplayStartDate", mitiId = "ScExam_StartMiti" })
                @Html.ValidationMessageFor(m => m.StartDate)
                <input type="hidden" id="currStartDate" value="@Startdate"/></span>
            </div>
                <label class="label-90">
                    End Date</label>
                <div class="field"><span>
                    @Html.HiddenFor(m => m.ScExam.EndMiti)
                    @Html.HiddenFor(m => m.EndDate, new { displayId = "DisplayEndDate" })
                    @Html.TextBoxFor(m => m.DisplayEndDate, new { @class = "input-170 input", entermsg = "Enter Voucher Date.", miti = Model.SystemControl.DateType, dateId = "EndDate", displayId = "DisplayEndDate", mitiId = "ScExam_EndMiti" })
                    @Html.ValidationMessageFor(m => m.EndDate)
                    <input type="hidden" id="currEndDate" value="@Enddate"/></span>
                </div>
    </div>  <div class="clearfix">
    </div>
    <div class="lag">
        <label class="label-90">
            Schedule</label>
        <div class="field">
            @Html.TextBoxFor(m => m.ScExam.Schedule, new { @class = "input-170 input", entermsg = "Enter Schedule" })
            @Html.ValidationMessageFor(m => m.ScExam.Schedule)
        </div>
        <label class="label-90">
            Exam Type</label>
        <div class="field">
            @Html.DropDownListFor(x => x.ScExam.Type, Model.ExamType, new { @class = "input-170 input", entermsg = "Enter Exam Type" })
            @Html.ValidationMessageFor(m => m.ScExam.Type)
        </div>
    </div> 
       

    <div class="clearfix">
    </div>


    <div class="lag">
        <label class="label-90">
            Memo</label>
        <div class="field">
            @Html.TextBoxFor(m => m.ScExam.Memo, new { @class = "input-450 input", entermsg = "Enter Remarks" })
            @Html.ValidationMessageFor(m => m.ScExam.Memo)
        </div>
    </div>
    <span class="clearfix"></span>
    <input type="button" class="btn btn-small btn-primary onlineSave" value="Save" />
}
<script type="text/javascript">

    $(document).ready(function() {

  
    var dateType = @Model.SystemControl.DateType;
    var nepDate;
    if(dateType==1) {
        startdate = $("#currStartDate").val();
        nepDate = convertToNepali(startdate);
    } else {
        startdate = $("#currStartDate").val();
        startdate = convertToNepali(startdate);
        nepDate = startdate;
    }
    $("#ScExam_StartMiti").val(nepDate);
    $("#DisplayStartDate").val(startdate);
        $("#ScExam_EndMiti").val(nepDate);
    $("#DisplayEndDate").val(startdate);
    $("#StartDate").nepDateTimePicker();
        $("#EndDate").nepDateTimePicker();
  });
</script>
