@using KRBAccounting.Service
@using KRBAccounting.Service.Helpers
@model KRBAccounting.Web.ViewModels.Inventory.ReOrderStatusViewModel
@{
    decimal currentStockGrandTotal = Convert.ToDecimal(Model.ReOrderStatuses.Sum(x => x.CurrentStock));
    decimal reOrderLevelGrandTotal = Convert.ToDecimal(Model.ReOrderStatuses.Sum(x => x.ReOrderLevel));
    decimal reOrderQtyGrandTotal = Convert.ToDecimal(Model.ReOrderStatuses.Sum(x => x.ReOrderQty));
    decimal minStockGrandTotal = Convert.ToDecimal(Model.ReOrderStatuses.Sum(x => x.MinimumStock));
    decimal maxStockGrandTotal = Convert.ToDecimal(Model.ReOrderStatuses.Sum(x => x.MaximumStock));
}
@Html.Partial("_PartialExcelReportHeader", Model.ReportHeader)
<br />
<table class="table table-bordered">
    <thead>
        <tr bgcolor="#E6EEEE" align="center" style="font-weight: bold; border: 1px solid">
            <th>
                Code
            </th>
            <th>
                Product Description
            </th>
            <th>
                Unit
            </th>
            <th>
                Current Stock
            </th>
            <th>
                Reorder Level
            </th>
            <th>
                Reorder Qty
            </th>
            <th>
                Min Level
            </th>
            <th>
                Max Level
            </th>
        </tr>
    </thead>
    @foreach (var item in Model.ReOrderStatuses)
    {
        <tr style="border: 1px solid black">
            <td>@item.ShortName
            </td>
            <td>@item.Description
            </td>
            <td>@item.Unit
            </td>
            <td style="text-align: right">@item.CurrentStock
            </td>
            <td style="text-align: right">@item.ReOrderLevel
            </td>
            <td style="text-align: right">@item.ReOrderQty
            </td>
            <td style="text-align: right">@item.MinimumStock
            </td>
            <td style="text-align: right">@item.MaximumStock
            </td>
        </tr>
    }
    <tr style="border: 1px solid black">
        <td>
        </td>
        <td style="font-weight: bold; text-align: right">
            Grand Total :
        </td>
        <td>
        </td>
        <td style="font-weight: bold; text-align: right">@currentStockGrandTotal
        </td>
        <td style="font-weight: bold; text-align: right">@reOrderLevelGrandTotal
        </td>
        <td style="font-weight: bold; text-align: right">@reOrderQtyGrandTotal
        </td>
        <td style="font-weight: bold; text-align: right">@minStockGrandTotal
        </td>
        <td style="font-weight: bold; text-align: right">@maxStockGrandTotal
        </td>
    </tr>
</table>
