@using KRBAccounting.Service
@model List<IGrouping<int, KRBAccounting.Domain.Entities.ScBookReceivedDetails>>

@{
    ViewBag.Title = "Library Book List";
}


<div class="row-fluid">
    <h4 class="page-title">
        <div class="social-box">
        <div class="body">
            Library Book List   
            @using (Html.BeginForm("LibraryBookList", "StudentProfile", FormMethod.Post, new { @style = "float:right; margin-top: -6px;" }))
            {
                <div class="input-append">
                
                    <input type="text" id="appendedInputButton"  placeholder = "Search" style="width: 150px" id="book_name"name="book_name"/> 
                    <button type="submit" class="btn">Go!</button>
                </div>
             
            }   </div >
            </div>
    </h4>
</div>
<div class="row-fluid">
         <div class="social-box">

         <table class="table" style="font-size: 14px">
             <thead>
                 <tr>
                     <th>#</th>
                     <th>Name</th>
                     <th>Publisher</th>
                     <th>Edition</th>
                     <th>Volume No</th>
                     <th>Personal Author</th>
                     <th>Year of Publication</th>
                     <th>Quantity</th>

                 </tr>
             </thead>
             <tbody>
                 @{
                     int SN0 = 1;
                 }
                 @foreach (var item in Model)
                 {
                     <tr style="font-size: 12px">
                         <td>@SN0</td>
                         <td>@item.FirstOrDefault().BookReceived.Book.Name</td>
                         <td>@item.FirstOrDefault().BookReceived.Book.Publisher</td>
                         <td>@item.FirstOrDefault().BookReceived.Book.Edition</td>
                         <td>@item.FirstOrDefault().BookReceived.Book.VolumeNumber</td>
                         <td>@item.FirstOrDefault().BookReceived.Book.PersonalAuthor</td>
                         <td>@item.FirstOrDefault().BookReceived.Book.YearOfPublication.ToShortDateString()</td>
                         <td>@UtilityService.GetBookCount(item.FirstOrDefault().BookReceived.Book.Name,item.FirstOrDefault().BookReceived.BookId)</td>
                                        

                     </tr>
                     SN0++;

                 }
                                
             </tbody>
         </table>
               </div>
        </div>
