@model KRBAccounting.Web.ViewModels.Entry.BillOfMaterialDetailAddViewModel
<tr class="debitnote-detail-entry detail-entry deletable ">
    @using (Html.BeginCollectionItem("BillOfMaterialDetailAddViewModels"))
    {
        <td class="dragHandle">
            &nbsp;&nbsp;&nbsp;
        </td>
        <td>
            @Html.HiddenFor(x => x.RawMaterialId, new { @class = "value product_id" })
            <input type="hidden" class="product_reference" />
            @Html.TextBoxFor(x => x.RawMaterial, new { @class = "input-245 modallink_custom input first-col ", href = "/Entry/GetProductList", title = "Pruducts", valuetype = "raw_material" })
        </td>
        <td>
            @Html.HiddenFor(x => x.CostCenterId, new { @class = "value" })
            @Html.TextBoxFor(x => x.CostCenter, new { @class = "input-150 modallink input ", href = "/Master/GetCostCenterList", title = "Pruducts" })
        </td>
        if (Model.EntryControl != null && Model.EntryControl.Godown)
        {
        <td>
            @Html.HiddenFor(x => x.GodownId, new { @class = "value" })
            @Html.TextBoxFor(x => x.Godown, new { @class = "input-150 modallink input ", href = "/Master/GetGodownList", title = "Godown" })
        </td>
        }
        <td>
            @Html.DropdownListForCustom(x => x.UnitId, Model.UnitList, new { @class = "input-100 unit" })
        </td>
        <td>
            @Html.TextBoxFor(x => x.Quantity, new { @class = "input-70 input last-col-modified qty numberonly", templateid = "BOMDetailAddTemplate", tableid = "table-bill-of-material-detail" })
        </td>
        <td>
            <img src="../../Content/img/delete.png" width="15px" class="del-row">
        </td>
    }
</tr>
