@model KRBAccounting.Web.ViewModels.Entry.StockTransferSingleViewModel
@{
    var trId = "id-" + Model.Id;
}
<tr id="@trId">
    <td>@Model.STNo
    </td>
    <td>@Model.Godown.Name
    </td>
    <td>@Model.STDate
    </td>
    <td>@Model.Remarks
    </td>
    
    <td>
        <a href="javascript:void(0)" class="GTEdit icon-pencil" data-id="@Model.Id" title="Edit: @Model.STNo">
        </a>| <a href="javascript:void(0)" class="GTRemove icon-remove" data-id="@Model.Id" title="Delete: @Model.STNo">
        </a>
    </td>
</tr>
