@*@model KRBAccounting.Service.Models.BillingTerm.BillingTermDetailViewModel
<span style="display: none">
    @using (Html.BeginCollectionItem("billTermList"))
    {
        @Html.HiddenFor(x => x.Id, new { @class = "billing_term_value billing_term " + Model.Description.Replace(" ", "_"), rate = Model.Rate, amt = Model.Amount, sign = Model.Sign })
        @Html.HiddenFor(x => x.Amount, new { @class = "billing_term amount",@value=Model.Amount })
        @Html.HiddenFor(x => x.Basis, new { @class = "billing_term" })    
        @Html.HiddenFor(x => x.Description, new { @class = "billing_term" })
        @Html.HiddenFor(x => x.Rate, new { @class = "billing_term" })
        @Html.HiddenFor(x => x.Sign, new { @class = "billing_term" })
        @Html.HiddenFor(x => x.BillingTermIndex, new { @class = "billing_term" })
        @Html.HiddenFor(x => x.IsProductWise, new { @class = "billing_term" })
    }
</span>*@


@model KRBAccounting.Service.Models.BillingTerm.BillingTermDetailViewModel
<span class="single-list" style="display: none">
    @using (Html.BeginCollectionItem("billTermList"))
    {
        @Html.HiddenFor(x => x.Id, new { @class = "billing_term_value billing_term Id"})
        @Html.HiddenFor(x => x.Amount, new { @class = "billing_term amount" })
        @Html.HiddenFor(x => x.Basis, new { @class = "billing_term Basis" })    
        @Html.HiddenFor(x => x.Description, new { @class = "billing_term Description" })
        @Html.HiddenFor(x => x.Rate, new { @class = "billing_term Rate" })
        @Html.HiddenFor(x => x.Sign, new { @class = "billing_term Sign" })
        @Html.HiddenFor(x => x.BillingTermIndex, new { @class = "billing_term BillingTermIndex" })
        @Html.HiddenFor(x => x.IsProductWise, new { @class = "billing_term IsProductWise" })
        @Html.HiddenFor(x => x.ParentGuid, new { @class = "billing_term ParentGuid" })
        @Html.HiddenFor(x => x.DisplayOrder, new { @class = "billing_term DisplayOrder" })
    }
</span>