@using KRBAccounting.Service.Helpers
@using KRBAccounting.Service.Helpers
@using KRBAccounting.Service.Models
@{
    ViewBag.Title = "Cash/Bank Voucher";
    var userRight = (UserRight) ViewBag.UserRight;
    var Receipt =
         Convert.ToInt32(KRBAccounting.Enums.AmountTypeEnum.Receipt);
    var Payment =
    Convert.ToInt32(KRBAccounting.Enums.AmountTypeEnum.Payment);
}
<div id="ledger-list">
    @Html.Action("CashBankVoucherList")
</div>
<div class="dialog" id="modalCashBankVoucher" style="display: none;" title="Cash/Bank Voucher(+)">
    <div class="block">
    </div>
</div>
<script type="text/javascript">
    var receipt = 1;
    var payment = 2;
    $("#modalCashBankVoucher").dialog({
        autoOpen: false,
        modal: true,
        width: 'auto',
        buttons: {
            "Ok": function () {
                //$.blockUI();
                var form = $("#cash-bank-voucher-form");
                var isValid = $("form").valid();
                var currencyId = $("#CurrencyId").val();
                if (currencyId != "") {
                    var rate = $("#CashBankMaster_Rate").val();
                    if (rate == "") {
                        // alert("Please, fill the currency rate");
                        $("#CashBankMaster_Rate").addClass("error");
                    }
                }
                var error = document.querySelectorAll('.error');
                if (error.length > 0) {
                    isValid = false;
                }
                if (isValid) {
                var length = $(".detail-entry").length;
                    $(".detail-entry").each(function (index) {
                        if (index == 0 || index != length - 1) {
                            if ($(this).find(".text_ledger").val() == 0 || $(this).find(".hdn_Amount").val() == "") {
                                isValid = false;
                                $(this).find(".text_ledger").addClass("error").focus();
                            }
                            if ($(this).find(".hdn_Amount").val() == 0 || $(this).find(".hdn_Amount").val() == "") {
                                if (isValid) {
                                    $(this).find(".receipt-amt").addClass("error").focus();
                                } else {
                                    $(this).find(".receipt-amt").addClass("error");
                                }
                                isValid = false;
                            }
                        }
                    });

                }
                if (isValid) {
                    $.ajax({
                        type: "POST",
                        url: form.attr('action'),
                        data: form.serialize(),
                        beforeSend: function () {
                            $.blockUI();
                        },
                        success: function (data) {
                            if (data.success) {
                                OnComplete();
                            }
                            else {
                                $("#MsgError").html(data.msg).show();
                            }
                        },
                        complete: function () {
                            $.unblockUI();
                        }
                    });
                }
            },
            Cancel: function () {
                $(this).dialog("close");
            }
        }
    });

    function Begin() {
        $.blockUI();
    }

    function writeError(control, msg) {
        var err_msg = '<div class="alert-message error"><a class="close" href="javascript:void(0);">×</a><p>' + msg + '</p></div>';
        $('#' + control).html(err_msg);
    }
    function getRequest(url) {
        $.blockUI();
        $.ajax({
            url: url,
            context: document.body,
            success: function (data) {
                $('#modalCashBankVoucher .block').html(data);
                $(this).addClass("done");
                $("#modalCashBankVoucher").dialog('open');
                $(document).ready(function () {
                    $.unblockUI();
                });
            },
            error: function (err) {
                writeError('msgErrorNewLocationDetails', err);
            }
        });
    }

    $('a.addCashBankVoucher').live('click', function () {
        var url = '@Url.Action("CashBankVoucherAdd", "Entry")';
        getRequest(url);

        return false;
    });
    $('a.editCashBankVoucher').live('click', function () {
        var id = $(this).attr("data-id");
        var url = '@Url.Action("CashBankVoucherEdit", "Entry")/' + id;
        getRequest(url);
        return false;
    });
    $('a.approvedCashBankVoucher').live('click', function () {

        var id = $(this).attr("data-id");
        var url = '@Url.Action("CashBankVourcherApproved", "Entry")/' + id;
        $.ajax({
            url: url,

            type: 'Post',
            success: function () {
                window.location.reload(true);
            }
        });


        return false;
    });

    $("a.CashBankVoucherDelete").live('click', function () {
        var result = confirm('Are you sure want to delete this?');
        if (result) {
            var url = '@Url.Action("CashBankVoucherDelete")';
            var id = $(this).attr("data-id");
            var element = $(this);
            $.ajax({
                url: url,
                type: 'post',
                data: { id: id },
                success: function (data) {
                    if (data) {
                        element.closest("tr").remove();
                    } else {
                        alert("could not delete");
                    }
                },
                error: function (err) {
                    writeError('msgErrorNewLocationDetails', err);
                }
            });
        }

    });

    $('#saveCashBankVoucher').live('click', function () {

        $("#cash-bank-voucher-form").submit();




    });
    $("#CashBankMaster_Rate").live("blur", function () {
        var currencyId = $("#CurrencyId").val();

        var current = $(this).val();
       
        if (currencyId != "") {
            if (current != "") {
                $("#CashBankMaster_Rate").removeClass("error");
            } else {
                $("#CashBankMaster_Rate").addClass("error");
            }

        } else {
            $("#CashBankMaster_Rate").removeClass("error");
        }

    });


    $("#CurrencyId").live("blur", function () {
       var current = $(this).val();
        if (current == "") {
        $("#CashBankMaster_Rate").removeClass("error");
        }

    });
    function success(data) {
        if (data == "True") {
            OnComplete();
        }
    }
    function OnComplete() {
        $('#modalCashBankVoucher .block').load("/Entry/CashBankVoucherAdd");
        $("#ledger-list").load("/Entry/CashBankVoucherList");
    }
    function OnCompleteEdit() {
        $('#modalCashBankVoucher').modal('hide');

        $("#ledger-list").load("/Entry/CashBankVoucherList");
    }

    $(document).ready(function () {
        $("#entry-module-print").click(function () {
            printElem();
        });
    });

    function printElem() {
        var port = (window.location.port) ? ':' + window.location.port : '';
        var hotname = window.location.hostname;
        var protocal = window.location.protocol;
        var url = protocal + '//' + hotname + port + '/Content/print.css';

        $('#toPrint').printElement({
            overrideElementCSS: [
                    { href: url, media: 'print' }
                ]
        });
    }


    $(".modalNarrationlink").live('keydown', function (e) {
        var element = $(this);
        var ev = e || event;
        var keycode = ev.keyCode;
        //e.preventDefault();
        if (keycode == 13) {
            var closestTr = element.closest("tr");
            if (closestTr.find(".hdn_ledger_Id").val() != "" && (closestTr.find(".receipt-amt").val() != "" || closestTr.find(".payment-amt").val() != "")) {
                var link = $(this).attr("href");
                $.ajax({
                    url: link,
                    type: "GET",
                    error: function () {
                        alert("An error occurred.");
                    },
                    success: function (data) {
                        if (closestTr.is(":last-child")) {
                            $('#table-cash-bank-detail tr:last').addClass("deletable");
                            var id = $('#table-cash-bank-detail tr:last').attr("id");
                            $('#table-cash-bank-detail tr:last').after(data);
                            var arrString = id.split("_");
                            var index = parseInt(arrString[1]) + 1;
                            //var index = $(".narration").index(element) + 1;
                            $(".text_ledger:last").attr("id", "product_" + index);
                            $(".text_ledger:last").closest("tr").attr("id", "tr_" + index);

                            $(".text_ledger").attr("valueId", $(".hdn_ledger_Id:last").attr("id"));
                            //$(".text_ledger").attr("valueId", $(".hdn_ledger_Id:last").attr("id"));

                            $(".text_subledger:last").attr("id", "sub_" + index);
                            $(".text_subledger").attr("valueId", $(".hdn_subledger_Id:last").attr("id"));
                            var value = $("#CashBankMaster_DocId").val();
                            getDetail(value);
                        }
                        $("#saveCashBankVoucher").removeAttr("disabled");
                        closestTr.next().find('.text_ledger').focus();

                        //Fill Rec Amt at the bottom
                        getRecAmount();

                        //Fill Pay Amt at the bottom

                        getPayAmount();

                        getNetAmount();

                        $('input[type="text"]').focus(function () {
                            var closestTr = $(this).closest("tr");
                            if ($(this).attr("entermsg")) {
                                $(".enter-msg").html($(this).attr("entermsg"));
                            } else {
                                $(".enter-msg").html("");
                            }
                        });
                    }
                });
            }
            //closestTr.find(".text_ledger").addClass("error");
            closestTr.find(".text_ledger").focus();
            return false;
        }
        return true;
    });

    $('input[type="text"]').focus(function () {
        if ($(this).attr("entermsg")) {
            $(".enter-msg").html($(this).attr("entermsg"));
        } else {
            $(".enter-msg").html("");
        }

    });

    $(".receipt-amt").live('keyup', function (e) {
        var ev = e || event;
        var keycode = ev.keyCode;
        var closestTr = $(this).closest("tr");
        if ((keycode >= 48 && keycode <= 57) || (keycode >= 96 && keycode <= 105) || keycode == 190) {
            
            closestTr.find(".payment-amt").val("");
            closestTr.find("amount").val($(this).val());
            GetTotalAmount();
            $(this).removeClass("error");
        } else if (keycode == 9 || keycode == 8 || keycode == 37 || keycode == 38 || keycode == 39 || keycode == 40) {
            closestTr.find("amount").val($(this).val());
            GetTotalAmount();
            return true;
        } else {
            return false;
        }

    });
    $(".payment-amt").live('keyup', function (e) {
        var ev = e || event;
        var keycode = ev.keyCode;
        var closestTr = $(this).closest("tr");
        if ((keycode >= 48 && keycode <= 57) || (keycode >= 96 && keycode <= 105) || keycode == 190) {
           closestTr.find(".receipt-amt").val("");
            closestTr.find("amount").val($(this).val());
            GetTotalAmount();
            $(this).removeClass("error");
            $(this).closest("tr").find(".receipt-amt").removeClass("error");
        } else if (keycode == 9 || keycode == 8 || keycode == 37 || keycode == 38 || keycode == 39 || keycode == 40) {
            closestTr.find("amount").val($(this).val());
            GetTotalAmount();
            return true;
        } else {
            return false;
        }

    });

    $(".text_ledger").live("focusout", function () {
        if ($(this).val() == "") {
            //$(this).addClass("error");
             $(this).focus();
        } else {
            $(this).removeClass("error");
        }
    });
    $("#cashbankledger").live("focusout", function () {
        var glCode = $("#CashBankMaster_LedgerId").val();
        $("#CashBankMaster_LedgerId").getCurrentBal();
        $.getJSON("/Entry/DisableCheque?glCode=" + glCode, null, function (disable) {
            if (disable) {
                $("#CashBankMaster_ChequeNo").attr("disabled", "disabled");
                $("#CashBankMaster_ChequeDate").attr("disabled", "disabled");
            } else {
                $("#CashBankMaster_ChequeNo").removeAttr("disabled");
                $("#CashBankMaster_ChequeDate").removeAttr("disabled");
            }
        });
    });


    $(".receipt-amt").live("focusout", function () {
        if ($(this).val() != '') {
            $(this).closest("tr").find(".hdn_Amount").val($(this).val());
            $(this).closest("tr").find(".hdn_AmountType").val(parseFloat(receipt));
        }
    });
    $(".payment-amt").live("focusout", function () {
        if ($(this).val() != '') {
            $(this).closest("tr").find(".hdn_Amount").val($(this).val());
            $(this).closest("tr").find(".hdn_AmountType").val(parseFloat(payment));
        }
    });
    $(".UDFCustomFiled").live("click", function () {
        $(".UDFEntry").toggle('hide');

    });

    function getRecAmount() {
        recAmt = parseFloat(0);
        var receiptAmtElements = document.querySelectorAll(".receipt-amt");
        var i;
        for (i = 0; i < receiptAmtElements.length; i++) {
            var amt = receiptAmtElements[i].value;
            if (amt != "") {
                recAmt = recAmt + parseFloat(amt);
            }

        }
        $("#RecAmt").val(recAmt);
    }

    function getPayAmount() {
        payAmt = parseFloat(0);
        var paymentAmtElements = document.querySelectorAll(".payment-amt");
        var j;
        for (j = 0; j < paymentAmtElements.length; j++) {
            var amt = paymentAmtElements[j].value;
            if (amt != "") {
                payAmt = payAmt + parseFloat(amt);
            }
        }
        $("#PayAmt").val(payAmt);
    }

    function getNetAmount() {
        netAmt = parseFloat(0);
        netAmt = parseFloat(recAmt) - parseFloat(payAmt);
        $("#NetAmt").val(netAmt);
        $("#NetAmtRs").val(netAmt);
    }

    function GetTotalAmount() {
        getRecAmount();
        getPayAmount();
        getNetAmount();
    }
    //    $("#cashbankvoucherno").live("focusout", function () {

    //        $.getJSON("/Entry/CheckCashBankVno?Vno=" + $(this).val(), function (data) {

    //            if (data != true) {
    //                $("#MsgError").html("Cash/Bank Voucher Cannot Duplicate");
    //                $("#cashbankvoucherno").addClass("Error");
    //                $("#cashbankvoucherno").focus();
    //            }
    //            else {
    //                $("#MsgError").html("");
    //                $("#cashbankvoucherno").removeClass("Error");
    //            }

    //        });
    //    });
    function getDetail(value) {
        if (value != '') {
            $.getJSON("/Entry/GetDocDetail?id=" + value, function (data) {
                if (data.DocType != null) {
                    if (data.DocType == '@KRBAccounting.Service.Helpers.StringEnum.Parse(typeof(KRBAccounting.Enums.DocumentCashBankBookTypeEnum), "Receipt").ToString()') {
                        $(".paymentAmt").hide();
                        $(".receiptAmt").show();
                    } else if (data.DocType == '@KRBAccounting.Service.Helpers.StringEnum.Parse(typeof(KRBAccounting.Enums.DocumentCashBankBookTypeEnum), "Payment").ToString()') {
                        $(".receiptAmt").hide();
                        $(".paymentAmt").show();
                    } else {
                        $(".receiptAmt").show();
                        $(".paymentAmt").show();
                    }
                }
            });
        }
    }

    $(".del-row").live("click", function () {
        $(this).closest("tr").remove();
        getRecAmount();
        getPayAmount();
        getNetAmount();
    });


    $("#VoucherDate").live("blur", function (e) {
        var currentElement = $(this);
        var date = $(this).val();
        var url = '@Url.Action("CheckFiscalyearDateinCashBank", "Entry")?VoucherDate=' + date;
        $.post(url, function (data) {
            if (data != "True") {
                currentElement.addClass("error");
                alert(data);

            } else {
                currentElement.removeClass("error");
            }
        });
    });
</script>
