@model PagedList<KRBAccounting.Domain.Entities.CreditNoteMaster>
       <div class="block-fluid table-sorting" id="tbl-pending">
                <table cellpadding="0" cellspacing="0" width="100%" class="table tbl-list">
        <thead>
            <tr>
                <th>
                    Crdit Note No.
                </th>
                <th>
                    Date
                </th>
                <th>
                    Ledger AccountName
                </th>
                <th>
                    Ref. Bill No.
                </th>
                <th>
                    Ref. Bill Date
                </th>
                <th>
                    Created By
                </th>
                <th>
                    Remarks
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Number
                    </td>
                    <td>@item.Date.ToShortDateString()
                    </td>
                    <td>@item.Ledger.AccountName
                    </td>
                    <td>@item.RefBillNo
                    </td>
                    <td>@item.RefBillDate
                    </td>
                    <td>@item.Users.Username
                    </td>
                    <td>@item.Remarks
                    </td>
                       <td>
                                    @if (KRBAccounting.Web.CustomFilters.CheckPermission.GivePermission("Edit", "CN"))
                                    {
                                        <a href="javascript:void(0)" data-id="@item.Id" class="editCreditNote icon-edit"></a>
                                        <text>&nbsp;|</text>
                                    }
                                   @* @if (KRBAccounting.Web.CustomFilters.CheckPermission.GivePermission("Approve", "CN"))
                                    {
                                        <a href="javascript:void(0)" data-id="@item.Id" class="approvedCreditNote icon-ok"></a>
                                    }
                                    |*@<a href="javascript:void(0);" class="CreditNoteDelete icon-remove" data-id="@item.Id" title="Delete"></a>
                                </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="pagination">
        @Html.Raw(Html.AjaxPager(Model, "CreditNotePendingList", "Entry", new PagerOptions() { PageIndexParameterName = "pageNo", ShowGoButton = false }, new AjaxOptions() { UpdateTargetId = "tbl-pending" }))
    </div>
</div>
