@model PagedList<KRBAccounting.Domain.Entities.PurchaseInvoice>
<div class="block-fluid table-sorting" id="tbl-pending">
    <table cellpadding="0" cellspacing="0" width="100%" class="table tbl-list">
        <thead>
            <tr>
                <th width="20%">
                    Invoice No.
                </th>
                <th>
                    Invoice Date
                </th>
                <th>
                    Vendor
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Created By
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.InvoiceNo
                    </td>
                    <td>@item.InvoiceDate.ToShortDateString()
                    </td>
                    <td>@item.PurchaseDetails.Sum(x => x.NetAmt)
                    </td>
                    <td>@item.Ledger.AccountName
                    </td>
                    <td>@item.User.Username
                    </td>
                    <td>
                        @if (KRBAccounting.Web.CustomFilters.CheckPermission.GivePermission("Edit", "PB"))
                        {
                            <a href="javascript:void(0);" data-id="@item.Id" class="editPurchaseInvoice icon-edit">
                            </a> <text> | </text>
                        }
                        @*@if (KRBAccounting.Web.CustomFilters.CheckPermission.GivePermission("Approve", "PB"))
                        {
                            <text> | <a href="javascript:void(0);" data-id="@item.Id" class="approvedPurchaseInvoice icon-ok">
                            </a></text>
                        }
                        |*@<a class= "PurchaseInvoiceDelete icon-remove" href = "javascript:void(0);" title = "Delete" data-id="@item.Id">
                        </a>|<a class= "icon-print" href = "@Url.Action("PurchaseInvoicePrint", "Entry", new { invoiceId = item.Id })" title = "Print Bill" target="_blank">
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="pagination">
        @Html.Raw(Html.AjaxPager(Model, "PurchaseInvoicePendingList", "Entry", new PagerOptions() { PageIndexParameterName = "pageNo", ShowGoButton = false }, new AjaxOptions() { UpdateTargetId = "tbl-pending" }))
    </div>
</div>
