@model PagedList<KRBAccounting.Domain.Entities.PurchaseOrderMaster>
<div class="block-fluid table-sorting" id="tbl-pending">
    <table cellpadding="0" cellspacing="0" width="100%" class="table tbl-list">
        <thead>
            <tr>
                <th width="20%">
                    Order No.
                </th>
                <th>
                    Order Date
                </th>
                <th>
                    Vendor
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Created By
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.OrderNo
                    </td>
                    <td>@item.OrderDate.ToShortDateString()
                    </td>
                    <td>@item.Ledger.AccountName
                    </td>
                    <td>@item.PurchaseOrderDetails.Sum(x => x.NetAmt)
                    </td>
                    <td>@item.User.Username
                    </td>
                    <td>
                        @if (KRBAccounting.Web.CustomFilters.CheckPermission.GivePermission("Edit", "PB"))
                        {
                            <a href="javascript:void(0);" data-id="@item.Id" class="editPurchaseOrder icon-edit">
                            </a>
                        }
                       @* @if (KRBAccounting.Web.CustomFilters.CheckPermission.GivePermission("Approve", "PB"))
                        {
                            <text> | <a href="javascript:void(0);" data-id="@item.Id" class="approvedPurchaseOrder icon-ok">
                            </a></text>
                        }*@
                        |<a class= "PurchaseOrderDelete icon-remove" href = "javascript:void(0);" title = "Delete" data-id="@item.Id">
                        </a>|<a class= "icon-print" href = "@Url.Action("PurchaseOrderPrint", "Entry", new { invoiceId = item.Id })" title = "Print Bill" target="_blank">
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="pagination">
        @Html.Raw(Html.AjaxPager(Model, "PurchaseOrderPendingList", "Entry", new PagerOptions() { PageIndexParameterName = "pageNo", ShowGoButton = false }, new AjaxOptions() { UpdateTargetId = "tbl-pending" }))
    </div>
</div>
