@using KRBAccounting.Service
@model PagedList<KRBAccounting.Domain.Entities.PurchaseInvoice>

       <div class="block-fluid table-sorting" id="tbl-accepted">
                <table cellpadding="0" cellspacing="0" width="100%" class="table tbl-list">
            <thead>
                <tr>
                    <th width="20%">
                        Invoice No.
                    </th>
                    <th>
                        Invoice Date
                    </th>
                    <th>
                        Vendor
                    </th>
                    <th>
                        Created By
                    </th>
                    <th>
                        Approved Date
                    </th>
                    <th>
                        Approved By
                    </th>
                    @*<th width="10%"></th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.InvoiceNo
                        </td>
                        <td>@item.InvoiceDate.ToShortDateString()
                        </td>
                        <td>@item.Ledger.AccountName
                        </td>
                        <td>@item.User.Username
                        </td>
                        <td>@if (item.ApprovedDate.HasValue)
                        {
                            <text>@Convert.ToDateTime(item.ApprovedDate).ToShortDateString()</text>
                        }
                        </td>
                        <td>@UtilityService.GetUserNameById(item.ApprovedBy)
                        </td>
                        @if (KRBAccounting.Web.CustomFilters.CheckPermission.GivePermission("Edit", "PB"))
                        {
                            <td>
                                <a href="javascript:void(0);" data-id="@item.Id" class="editPurchaseInvoice">Edit</a>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
            <div class="pagination">
        @Html.Raw(Html.AjaxPager(Model, "PurchaseInvoiceAcceptedList", "Entry", new PagerOptions() { PageIndexParameterName = "pageNo", ShowGoButton = false }, new AjaxOptions() { UpdateTargetId = "tbl-accepted" }))
    </div>
</div>