@using System.Web.Script.Serialization
@{
    ViewBag.Title = "Purchase Challan";
    var serializer = new JavaScriptSerializer();
}
<script src="/Scripts/jquery.queryable-1.0.min.js" type="text/javascript"></script>
<div class="breadLine">
    <ul class="breadcrumb">
        <li><a href="@Url.Action("PurchaseOrder", "Entry")">Order</a> <span class="divider">
            |</span></li>
        <li><a href="@Url.Action("PurchaseChallan", "Entry")">Challan</a> <span class="divider">
            |</span></li>
        @if (KRBAccounting.Web.CustomFilters.CheckPermission.GivePermission("Navigate", "SBT"))
        {
            <li><a href="@Url.Action("PurchaseInvoice", "Entry")">Invoice</a> <span class="divider">
                |</span></li>
        }
        @if (KRBAccounting.Web.CustomFilters.CheckPermission.GivePermission("Navigate", "PBT"))
        {
            <li><a href="@Url.Action("PurchaseReturn", "Entry")">Return</a> <span class="divider">
                |</span></li>
        }
    </ul>
</div>
<div id="purchasechallan-list">
    @Html.Action("PurchaseChallanList")
</div>
<div class="dialog" id="modalPurchaseChallan" style="display: none;" title="Purchase Challan(+)">
    <div class="block">
    </div>
</div>
<script src="@Url.Content("~/Scripts/jQuery.tmpl.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    var productWiseBatchList = @Html.Raw(serializer.Serialize(Model.ProductWiseBillTerms));
    var billWiseBatchList = @Html.Raw(serializer.Serialize(Model.BillWiseBillTerms));

    function PicklistCustomFunction(value, type) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("PopulateChallanDetailByOrderId", "Entry")',
            data: { id: value },
            beforeSend: function () {
                BeginRequest();
            },
            success: function (data) {
                $("#vendor").val(data.VendorName);
                $("#PurchaseChallan_GlCode").val(data.VendorId);
                $("#PurchaseChallan_AgentCode").val(data.AgentId);
                $("#agent").val(data.AgentName);
                $("#body-challan-detail").html(data.materialIssueDetailView);
                $("#billing-term-list").html(data.billWiseBillingTerm);
                $("#PurchaseChallan_BasicAmt").val(data.BasicAmt);
                $("#PurchaseChallan_TermAmt").val(data.TermAmt);
                $("#PurchaseChallan_NetAmt").val(data.NetAmt);
                $("#TotalAmtRs").val(data.TotalAmtRs);
                $("#CurrentBalance").val(data.CurrentBalance);
                $("#TotalOutstanding").val(data.TotalOutstanding);
                resetValidation();
            },
            complete: function () {
                $.unblockUI();
            }
        });
    }
    

    $("#modalPurchaseChallan").dialog({
        autoOpen: false,
        modal: true,
        width: 'auto',
        buttons: {
            "Ok": function () {
                //getTotalQty();
                //getTotalAmt();
                var form = $(".ui-dialog #purchase-challan-form");
                var isValid = $("form").valid();
                //isValid = true;
                var error = document.querySelectorAll('.error');
                if (error.length > 0) {
                    isValid = false;
                }
                if (isValid) {
                    var length = $(".detail-entry").length;
                    $(".detail-entry").each(function (index) {
                        if (index == 0 || index != length - 1) {
                            if ($(this).find(".text_product").val() == 0 || $(this).find(".text_product").val() == "") {
                                isValid = false;
                                $(this).find(".text_product").addClass("error").focus();
                            }
                            if ($(this).find(".basicAmt").val() == 0 || $(this).find(".basicAmt").val() == "") {
                                if (isValid) {
                                    if ($(this).find(".qty").val() == 0 || $(this).find(".qty").val() == "") {
                                        $(this).find(".qty").addClass("error").focus();
                                    }
                                    if ($(this).find(".rate").val() == 0 || $(this).find(".rate").val() == "") {
                                        $(this).find(".rate").addClass("error").focus();
                                    }
                                } else {
                                    if ($(this).find(".qty").val() == 0 || $(this).find(".qty").val() == "") {
                                        $(this).find(".qty").addClass("error");
                                    }
                                    if ($(this).find(".rate").val() == 0 || $(this).find(".rate").val() == "") {
                                        $(this).find(".rate").addClass("error");
                                    }
                                }
                                isValid = false;
                            }
                        }

                    });
                }
                if (isValid) {
                    $.ajax({
                        type: "POST",
                        url: form.attr('action'),
                        data: form.serialize(),
                        beforeSend: function () {
                            $.blockUI();
                        },
                        success: function (data) {
                            if (data.success) {
                                OnComplete();
                            }
                            else {
                                $("#MsgError").html(data.msg).show();
                            }
                        },
                        complete: function () {
                            $.unblockUI();
                        }
                    });
                }
            },
            Cancel: function () {
                $(this).dialog("close");
            }
        }
    });
    function CalculateTotalAmt() {
        var totalAmt = parseFloat(0);
        var receiptAmtElements = document.querySelectorAll(".amt");
        var i;
        for (i = 0; i < receiptAmtElements.length; i++) {
            var amt = receiptAmtElements[i].value;
            if (amt != "") {
                totalAmt = totalAmt + parseFloat(amt);
            }
        }
        return totalAmt;
    }
    function writeError(control, msg) {
        var err_msg = '<div class="alert-message error"><a class="close" href="javascript:void(0);">×</a><p>' + msg + '</p></div>';
        $('#' + control).html(err_msg);
    }
    function getRequest(url) {
        $.blockUI();
        $.ajax({
            url: url,
            context: document.body,
            success: function (data) {
                $('#modalPurchaseChallan .block').html(data);
                $(this).addClass("done");
                $("#modalPurchaseChallan").dialog('open');
                $.unblockUI();
            },
            error: function (err) {
                writeError('msgErrorNewLocationDetails', err);
            }
        });
    }

    $('a.addPurchaseChallan').live('click', function () {
        var url = '@Url.Action("PurchaseChallanAdd", "Entry")';
        getRequest(url);

        return false;
    });
    $('a.editPurchaseChallan').live('click', function () {
        var id = $(this).attr("data-id");

        var url = '@Url.Action("PurchaseChallanEdit", "Entry")/' + id;
        getRequest(url);

        return false;
    });
    $('a.approvedPurchaseChallan').live('click', function () {
        var id = $(this).attr("data-id");

        var url = '@Url.Action("PurchaseChallanApproved", "Entry")/' + id;
        $.ajax({
            url: url,

            type: 'Post',
            success: function () {
                $("#purchasechallan-list").load("/Entry/PurchaseChallanList");

            }
        });

        return false;
    });

    $("a.PurchaseChallanDelete").live('click', function () {
        var result = confirm('Are you sure want to delete this?');
        if (result) {
            var url = '@Url.Action("PurchaseChallanDelete")';
            var id = $(this).attr("data-id");
            var element = $(this);
            $.ajax({
                url: url,
                type: 'post',
                data: { id: id },
                success: function (data) {
                    if (data) {
                        element.closest("tr").remove();
                    } else {
                        alert("could not delete");
                    }
                },
                error: function (err) {
                    writeError('msgErrorNewLocationDetails', err);
                }
            });
        }

    });

    $('#savePurchaseChallan').live('click', function () {

        $("#purchase-challan-form").submit();
    });

    function OnComplete() {
        $("#modalPurchaseChallan .block").load("/Entry/PurchaseChallanAdd");
        $("#purchasechallan-list").load("/Entry/PurchaseChallanList");
        //$('#modalPurchaseChallan').dialog("close");
    }
    function OnCompleteEdit() {
        $('#modalPurchaseChallan').modal('hide'); $("#purchasechallan-list").load("/Entry/PurchaseChallanList");
    }

    $(".rate").live('keydown', function (e) {
        var element = $(this);
        DisplayBillTerm(e, element);
    });
    
    $(".select").live('dblclick', function () {
        if ($(this).closest("tr").hasClass('deletable')) {
            $(this).closest("tr").remove();
            getTotalQty();
            getTotalAmt();
        }
    });
    
    $(".del-row").live('click', function(e) {
        $(this).closest("tr").remove();
        getTotalQty();
        getTotalAmt();
    });
    $('input[type="text"]').focus(function () {
        if ($(this).attr("entermsg")) {
            $(".enter-msg").html($(this).attr("entermsg"));
        } else {
            $(".enter-msg").html("");
        }

    });

    $(".receipt-amt").blur(function () {
        var closestTr = $(this).closest("tr");
        if ($(this).val() != "") {
            closestTr.find(".payment-amt").attr("disabled", "disabled");
        } else {
            closestTr.find(".payment-amt").removeAttr("disabled");
        }
    });

    $(".payment-amt").blur(function () {
        var closestTr = $(this).closest("tr");
        if ($(this).val() != "") {
            closestTr.find(".receipt-amt").attr("disabled", "disabled");
        } else {
            closestTr.find(".receipt-amt").removeAttr("disabled");
        }
    });

    $(".text_product").live("focusout", function () {
        if ($(this).val() == "") {
            $(this).addClass("error");
            //$(this).focus();
        } else {
            $(this).removeClass("error");
        }
    });
    $("#cashbankledger").live("focusout", function () {
        var glCode = $("#CashBankMaster_LedgerId").val();
        $("#CashBankMaster_LedgerId").getCurrentBal();
        $.getJSON("/Entry/DisableCheque?glCode=" + glCode, null, function (disable) {
            if (disable) {
                $("#CashBankMaster_ChequeNo").attr("disabled", "disabled");
                $("#CashBankMaster_ChequeDate").attr("disabled", "disabled");
            } else {
                $("#CashBankMaster_ChequeNo").removeAttr("disabled");
                $("#CashBankMaster_ChequeDate").removeAttr("disabled");
            }
        });
    });

    $(".text_product").live("focus", function () {
        var element = $(this);
        var productId = $(this).closest("tr").find(".productId").val();
        if (productId != "" && productId != 0) {
            $.getJSON("/Entry/ProductShortName?id=" + productId, null, function (data) {
                $("#ShortName").val(data);
            });
            $.getJSON("/Entry/ProductStockQuantity?id=" + productId, null, function (data) {
                $("#StockQty").val(data);
            });
            $.getJSON("/Entry/GetLowestUnit?id=" + productId, null, function (code) {
                element.closest("tr").find(".unit").val(code);
                element.closest("tr").find(".altunit").val(code);
            });

            $.getJSON("/Entry/GetDropDownlist?productId=" + productId, null, function (code) {
                var innerhtml = '';
                $.each(code, function () {
                    innerhtml += '<option value="' + this.Id + '">' + this.Code + '</option>';

                });
                element.closest("tr").find(".unit").html(innerhtml);
            });

        } else {
            $("#ShortName").val("");
            $("#StockQty").val("");
        }
    });



    $(".UDFCustomFiled").live("click", function () {
        $(".UDFEntry").toggle('hide');

    });

    function getTotalQty() {
        totalQty = parseFloat(0);
        var qtyElements = document.querySelectorAll(".qty");
        var i;
        for (i = 0; i < qtyElements.length; i++) {
            var amt = qtyElements[i].value;
            if (amt != "") {
                totalQty = totalQty + parseFloat(amt);
            }
        }
        $("#TotalQty").val(totalQty);
    }


    function getTotalAmt() {

        var totalAmt = parseFloat(0);

        var basicAmtElements = document.querySelectorAll(".netAmt");
        var j;
        for (j = 0; j < basicAmtElements.length; j++) {
            var amt = Math.abs(basicAmtElements[j].value);
            if (amt != "") {
                totalAmt = totalAmt + parseFloat(amt);
            }
        }
        var netAmt = totalAmt;
        var termAmt = 0;

        $("#billing-term-list .billing_term_value").each(function () {
            if ($(this).val() != "") {
                var basis = $(this).attr("basis");
                var sign = $(this).attr("sign");
                var rate = parseFloat($(this).attr("rate"));
                var value = rate / 100 * totalAmt;
                if (sign == "-") {
                    termAmt = RoundTwoDecimalPlace(termAmt - value);
                } else {
                    termAmt = RoundTwoDecimalPlace(termAmt + value);
                }
                netAmt = parseFloat(totalAmt) + parseFloat(termAmt);
                var newTermAmt = Math.abs(termAmt);
                $(this).closest("span").find(".amount").val(newTermAmt);
            }

        });
        $("#PurchaseChallan_BasicAmt").val(totalAmt);
        $("#PurchaseChallan_NetAmt").val(netAmt);
        $("#PurchaseChallan_TermAmt").val(termAmt);
        $("#TotalAmtRs").val(netAmt);
    }

    $(".cashbank-detail-entry").live("keydown", function (e) {
        var ev = e || event;
        var keycode = ev.keyCode;
        if (keycode == 27) {
            setTimeout(function () {
                $(this).find(':input').each(function () {
                    $(this).val('');
                });
            }, 200);
        }
    });

    function updateFunction() {
        getTotalQty();
        getTotalAmt();
    }

    $(".billwise_term").live("click",function() {
        $.ajax({
            url: "/Entry/GetPurchaseBillingTerm",
            dataType: "json",
            type: "GET",
            error: function() {
                alert("An error occurred.");
            },
            success: function(data) {
                if (data != "") {
                    isProductWise = false;
                    var tableData = CreateBillingTermTableView(data, "listpopup", true);
                    $('#modalbox-billingterm .msg-body').html(tableData);
                    $("#modalbox-billingterm").dialog({
                        modal: true,
                        width: 'auto',
                        buttons: {
                            "Ok": function() {
                                //alert(1);
                                $("#billing-term-list").html("");
                                var termAmt = parseFloat(0);
                                $(this).closest("#modalbox-billingterm").find(".billingterm_amount").each(function() {
                                    if ($(this).val() != "") {

                                        var value = parseFloat(0);
                                        var basis = $(this).closest("tr").find(".billingterm_Basis").html();
                                        var sign = $(this).closest("tr").find(".billingterm_Sign").html();
                                        var rate = $(this).closest("tr").find(".billingterm_rate").val();
                                        var desc = $(this).closest("tr").find(".billingterm_Description").html();
                                        var id = $(this).closest("tr").find(".billingterm_Id").val();
                                        value = parseFloat($(this).val());
                                        if (sign == "-") {
                                            termAmt = RoundTwoDecimalPlace(termAmt - value);
                                        } else {
                                            termAmt = RoundTwoDecimalPlace(termAmt + value);
                                        }
                                        var basicAmt = RoundTwoDecimalPlace($("#PurchaseChallan_BasicAmt").val());
                                        var netAmt = parseFloat(basicAmt) + parseFloat(termAmt);
                                        $("#PurchaseChallan_NetAmt").val(netAmt);
                                        $("#TotalAmtRs").val(netAmt);
                                        $("#PurchaseChallan_TermAmt").val(termAmt);
                                        if (value != 0) {
                                            $.ajax({
                                                url: "/Entry/InsertBillTerm",
                                                type: "GET",
                                                data: {
                                                    desc: desc,
                                                    basis: basis,
                                                    id: id,
                                                    amount: Math.abs(value),
                                                    rate: rate,
                                                    sign: sign,
                                                    isProductWise: false
                                                },
                                                success: function(data) {
                                                    $(".ui-dialog #billing-term-list").append(data);
                                                }
                                            });
                                        }
                                    }
                                });
                                $(".msg-body").html("");
                                $(this).dialog("close");
                            },
                            Cancel: function() {
                                $(this).dialog("close");
                            }
                        }
                    });

                    $('#modalbox-billingterm').find(".billingterm_rate").first().focus();
                }
            }
        });
    });


//    $(".text_product").live('keydown', function (e) {
//        if ($(this).closest("tr").is(":first-child") || $(this).val() != "") {
//            return true;
//        } else {
//            var ev = e || event;
//            var keycode = ev.keyCode;
//            if (keycode == "13") {
//                if ($(this).val() == "") {
//                    
//                    return false;
//                }
//                return true;
//            }
//        }
//    });

    var enableVendorDetails = true;

    $("#vendor").live("focusout", function () {
        var glCode = $("#PurchaseChallan_GlCode").val();
        if (enableVendorDetails) {
            if (glCode != "") {
                enableVendorDetails = false;
                $.getJSON("/Entry/GetVendorDetails?glCode=" + glCode, null, function (data) {
                    $("#CreditLimit").val(data.creditLimit);
                    $("#CurrentBalance").val(data.balance);
                    $("#OutstandingChallan").val(data.outstandingChallan);
                    $("#TotalOutstanding").val(data.totalOutstanding);
                    enableVendorDetails = true;
                });
            }
        }
    });
    
    $(".unit").live("change", function() {
        var element = $(this);
        var closestTr = element.closest("tr");
        var unit = $(this).val();
        var productId = closestTr.find(".productId").val();
        var lowestUnit = closestTr.find(".altunit").val();
        var quantity = closestTr.find(".qty").val();
        if(quantity!="" && quantity!=0 && productId!=0) {
            var url = "@Url.Action("GetConversionDetailNew")?productId=" + productId + "&&quantity=" + quantity + "&&Unit=" + unit + "&&LowestUnit=" + lowestUnit+"&&type=P";
            $.getJSON(url, function(success) {
                closestTr.find(".altqty").val(success.convertvalue);
                closestTr.find(".rate").val(success.ratte);
                closestTr.find(".hiddenrate").val(success.ratte);

                var rate = closestTr.find(".rate").val();

                var basic = parseFloat(quantity) * parseFloat(rate);
                closestTr.find(".basicAmt").val(basic);
                closestTr.find(".termAmt").val(0);
                closestTr.find(".netAmt").val(basic);
            });
        }
        else {
            alert("Enter the quantity and product");
        }
       
    });
   

   
    $(".qty").live("blur", function() {
        var element = $(this);
        var closestTr = element.closest("tr");
        var unit = closestTr.find(".unit").val();
        var productId = closestTr.find(".productId").val();
        var lowestUnit = closestTr.find(".altunit").val();
        var quantity = $(this).val();
        if(quantity!="" && quantity!=0 && productId!=0) {
            var url = "@Url.Action("GetConversionDetailNew")?productId=" + productId + "&&quantity=" + quantity + "&&Unit=" + unit + "&&LowestUnit=" + lowestUnit+"&&type=P";
            $.getJSON(url, function(success) {
                closestTr.find(".altqty").val(success.convertvalue);
                closestTr.find(".rate").val(success.ratte);
                closestTr.find(".hiddenrate").val(success.ratte);

                var rate = closestTr.find(".rate").val();

                var basic = parseFloat(quantity) * parseFloat(rate);
                closestTr.find(".basicAmt").val(basic);
                closestTr.find(".termAmt").val(0);
                closestTr.find(".netAmt").val(basic);
            });
        }
        else {
            alert("Enter the quantity and product");
        }
    });
   
     $(".rate").live("keyup", function(e) {
        CalculateTermAmt(e, $(this));
    });
     
      $(".qty").live("blur", function(e) {
        CalculateTermAmt(e, $(this));
    });

    $("#ChallanDate").live("blur", function(e) {
        var currentElement = $(this);
        var date = $(this).val();
        var url = '@Url.Action("CheckFiscalyearDateinPurchaseChallan", "Entry")?ChallanDate=' + date;
        $.post(url, function(data) {
            if (data != "True") {
                currentElement.addClass("error");
                alert(data);

            } else {
                currentElement.removeClass("error");
            }
        });
    });
    
</script>
