@model KRBAccounting.Web.ViewModels.Entry.PurchaseReturnAddViewModel
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@{
    string display = "display:none;";
    string billTermClass = "";
    if (Model.AllowProductWiseBillTerm)
    {
        display = "";
        billTermClass = "rate-bill-term";
    }
    var changeRate = Model.EntryControl != null && Model.EntryControl.ChangeRate;
}
@*@Html.CustomValidationSummary("Login was unsuccessful. Please correct the errors and try again.")*@
@using (Ajax.BeginForm("PurchaseReturnAdd", "Entry", new { controller = "Master" }, new AjaxOptions { HttpMethod = "Post", OnComplete = "OnComplete" }, new { @class = "form-horizontal form-custom", id = "purchase-return-form" }))
{@Html.HiddenFor(x => x.PurchaseReturnMaster.Id)
    <div id="billing-term-list" style="display: none">
    </div>
    <div style="width: 1317px; height: 517px;">
        <fieldset>
            <div style="float: left; width: 100%;" class="one-row">
                <div class="lag">
                    <span class="stack">
                        <label class="label-70">
                            Dr Note No.</label>
                        <span class="field">
                            @Html.TextBoxFor(m => m.PurchaseReturnMaster.InvoiceNo, new { @class = "input-90 input modaldoclink", entermsg = "Enter Voucher No.", module = "PR" })
                            @Html.ValidationMessageFor(m => m.PurchaseReturnMaster.InvoiceNo)<span class="loading PurchaseReturnMaster_InvoiceNo">
                                <img title="w_loader_gr.gif" src="/Content/themes/img/loaders/w_loader_gr.gif" /></span>
                        </span></span><span class="stack">
                            <label class="label-37">
                                Date</label>
                            <span class="field">
                                @Html.TextBoxFor(m => m.InvoiceDate, new { @class = "InvoiceDate" })
                                @Html.ValidationMessageFor(m => m.InvoiceDate)
                            </span></span><span class="stack">
                                <label class="label-70">
                                    Ref Bill No.</label>
                                <span class="field">
                                    @Html.TextBoxFor(m => m.PurchaseReturnMaster.RefBillNo, new { @class = "input-90 input", entermsg = "Enter Voucher No." })
                                    @Html.ValidationMessageFor(m => m.PurchaseReturnMaster.RefBillNo)
                                </span></span><span class="stack">
                                    <label class="label-53">
                                        Bill Date</label>
                                    <span class="field">
                                        @Html.TextBoxFor(m => m.RefDate, new { @class = "input-80 invoicedate input", entermsg = "Enter Voucher Date." })
                                        @Html.ValidationMessageFor(m => m.RefDate)
                                    </span></span>
                </div>
            </div>
            <div style="float: left; width: 475px" class="left">
                <div>
                    <div class="lag">
                        <label class="label-70">
                            Vendor</label>
                        <span class="field">
                            @Html.HiddenFor(m => m.PurchaseReturnMaster.GlCode)
                            <input type="text" class = "modallink_custom input-346 input" href="@Url.Action("GetVendorList", "Entry")"  valueId="PurchaseReturnMaster_GlCode" id="vendor"  valuetype="ledger" entermsg = "Press F1 for choosing existing Account list." />
                            @Html.ValidationMessageFor(m => m.PurchaseReturnMaster.GlCode)
                        </span>
                    </div>
                    <div class="lag">
                        <span class="stack">
                            <label class="label-70">
                                Due Days</label>
                            <span class="field">
                                @Html.TextBoxFor(m => m.PurchaseReturnMaster.DueDay, new { @class = "input-25 input DueDay", entermsg = "Enter Voucher Date." })
                            </span></span><span class="stack">
                                <label class="label-25">
                                    Date</label>
                                <span class="field">
                                    @Html.TextBoxFor(m => m.DueDate, new { @class = "input-80 input", entermsg = "Enter Voucher Date.", readOnly = true })
                                </span></span>
                    </div>
                    @if (Model.EntryControl != null && Model.EntryControl.Agent)
                    {
                        <div class="lag">
                            <label class="label-70">
                                Agent</label>
                            <span class="field">
                                @Html.HiddenFor(m => m.PurchaseReturnMaster.AgentCode, new { @class = "input-90", entermsg = "Enter Voucher No." })
                                <input type="text" class = "modallink input-346 input" href="@Url.Action("GetAgent", "Master")" valueId="PurchaseReturnMaster_AgentCode" id="agent" entermsg = "Press F1 for choosing existing cash/bank list." />
                            </span>
                        </div>
                    }
                    @if (Model.EntryControl != null && Model.EntryControl.SubLedger)
                    {
                        <div class="lag">
                            <label class="label-70">
                                Sub Ledger</label>
                            <span class="field">
                                @Html.HiddenFor(m => m.PurchaseReturnMaster.SlCode, new { @class = "input-90", entermsg = "Enter Voucher No." })
                                <input type="text" class = "modallink input-346 input" href="@Url.Action("GetSubLedger", "Master")" valueId="PurchaseReturnMaster_SlCode" id="subledger" entermsg = "Press F1 for choosing existing cash/bank list." />
                            </span>
                        </div>
                    }
                </div>
                <div class="lag">
                    <span class="stack">
                        <label class="label-70">
                            Currency</label>
                        <span class="field">
                            @Html.HiddenFor(m => m.PurchaseReturnMaster.CurrencyId, new { @class = "input-90 input", entermsg = "Enter Voucher No." })
                            <input type="text" class = "modallink input-90 input" href="@Url.Action("GetCurrency", "Entry")" valueId="PurchaseReturnMaster_CurrencyId" 
                             id="CurrencyId" entermsg = "Press F1 for choosing existing cash/bank list." />
                        </span></span><span class="stack">
                            <label class="label-37">
                                Rate</label>
                            <span class="field">
                                @Html.TextBoxFor(m => m.PurchaseReturnMaster.CurrRate, new { @class = "input-45 input CurrRate", entermsg = "Enter Rate." })
                                @Html.ValidationMessageFor(m => m.PurchaseReturnMaster.CurrRate)
                            </span></span>
                </div>
            </div>
            <div class="right thumbnail" style="width: 300px; float: right">
                @*<fieldset>*@
                <div class="lag">
                    <label class="label-120">
                        Credit Limit</label>
                    <span class="field">
                        @Html.TextBoxFor(m => m.CreditLimit, new { @class = "input-90 input", disabled = "disabled" })
                    </span>
                </div>
                <div class="lag">
                    <label class="label-120">
                        Current Balance</label>
                    <span class="field">
                        @Html.TextBoxFor(m => m.CurrentBalance, new { @class = "input-90 input", disabled = "disabled" })
                    </span>
                </div>
                <div class="lag">
                    <label class="label-120">
                        Outstanding Challan</label>
                    <span class="field">
                        @Html.TextBoxFor(m => m.OutstandingChallan, new { @class = "input-90 input", disabled = "disabled" })
                    </span>
                </div>
                <div class="lag">
                    <label class="label-120">
                        Total Outstanding</label>
                    <span class="field">
                        @Html.TextBoxFor(m => m.TotalOutstanding, new { @class = "input-90 input", disabled = "disabled" })
                    </span>
                </div>
                <div class="clearfix">
                </div>
                @*</fieldset>*@
            </div>
        </fieldset>
        <div id="tabs">
            <ul>
                <li><a href="#tabs-1">Product Details</a></li>
                <li><a href="#tabs-2">Import/Transport Details</a></li>
            </ul>
            <div id="tabs-1">
                <div class="lag detailEntryTable">
                    <table class="table-bordered" style="width: 760px" id="table-detail">
                        <tr class="nodrop nodrag">
                            <th width="20px">
                            </th>
                            <th width="250px">
                                Particular
                            </th>
                            @if (Model.EntryControl != null && Model.EntryControl.Godown)
                            {
                                <th>
                                    Godown
                                </th>
                            }
                            <th width="80px">
                                Qty
                            </th>
                            @if (Model.EntryControl != null && Model.EntryControl.Unit)
                            {
                                <th>
                                    Unit
                                </th>
                            }
                            <th width="80px">
                                Atl Qty
                            </th>
                            @if (Model.EntryControl != null && Model.EntryControl.AltUnit)
                            {
                                <th>
                                    Alt Unit
                                </th>
                            }
                            <th width="80px">
                                Rate
                            </th>
                            <th width="80px">
                                Basic Amt
                            </th>
                            <th width="80px" style="@display">
                                Term Amt
                            </th>
                            <th width="80px" style="@display">
                                Net Amt
                            </th>
                        </tr>
                        @{
                                               var viewModel = new KRBAccounting.Web.ViewModels.Entry.PurchaseReturnDetailEntryViewModel();
                                               viewModel.AllowProductWiseBillTerm = Model.AllowProductWiseBillTerm;
                                               viewModel.Index = 0;
                                               viewModel.UnitList = Model.UnitList;
                                               viewModel.EntryControl = Model.EntryControl;
                                               viewModel.DetailGuid = Guid.NewGuid().ToString();
                        }
                        @Html.Partial("_PartialPurchaseReturnDetailEntry", viewModel)
                    </table>
                </div>
                <div class="lag">
                    <span class="stack">
                        <label class="label-90">
                            Short Name</label>
                        @Html.TextBoxFor(x => x.ShortName, new { @class = "input-100 input", disabled = "disabled" })
                    </span><span class="stack" style="padding-left: 40px">
                        <label class="label-90">
                            Stock Qty</label>
                        @Html.TextBoxFor(x => x.StockQty, new { @class = "input-100 input", disabled = "disabled" })
                    </span><span class="stack" style="padding-left: 40px">
                        <label class="label-90">
                            Alt Stock Qty</label>
                        @Html.TextBoxFor(x => x.AltStockQty, new { @class = "input-100 input", disabled = "disabled" })
                    </span>
                </div>
                <div class="lag">
                    <span class="stack" style="padding-left: 264px">
                        <label class="label-90">
                            Total Qty</label>
                        @Html.TextBoxFor(x => x.TotalQty, new { @class = "input-100 input", disabled = "disabled" })
                    </span><span class="stack" style="padding-left: 40px">
                        <label class="label-90">
                            Total Alt Qty</label>
                        @Html.TextBoxFor(x => x.TotalAltQty, new { @class = "input-100 input", disabled = "disabled" })
                    </span>
                </div>
            </div>
            <div id="tabs-2">
                <div class="left thumbnail" style="float: left; width: 358px">
                    <div class="lag">
                        <label class="label-120">
                            PPD No.</label>
                        <span class="field">
                            @Html.TextBoxFor(m => m.PurchaseReturnImpTransDoc.PPDNo, new { @class = "input-120 input" })
                        </span>
                    </div>
                    <div class="lag">
                        <label class="label-120">
                            PPD Date</label>
                        <span class="field">
                            @Html.TextBoxFor(m => m.PPDDate, new { @class = "input-90 input" })
                        </span>
                    </div>
                    <div class="lag">
                        <label class="label-120">
                            Taxable Value</label>
                        <span class="field">
                            @Html.TextBoxFor(m => m.PurchaseReturnImpTransDoc.TaxableAmt, new { @class = "input-90 input" })
                        </span>
                    </div>
                    <div class="lag">
                        <label class="label-120">
                            Vat</label>
                        <span class="field">
                            @Html.TextBoxFor(m => m.PurchaseReturnImpTransDoc.Vat, new { @class = "input-90 input" })
                        </span>
                    </div>
                    <div class="lag">
                        <label class="label-120">
                            Custom Name</label>
                        <span class="field">
                            @Html.TextBoxFor(m => m.PurchaseReturnImpTransDoc.CustomName, new { @class = "input-190 input" })
                        </span>
                    </div>
                </div>
                <div class="right thumbnail" style="margin-left: 20px; float: right; width: 358px">
                    <div class="lag">
                        <label class="label-120">
                            Transport</label>
                        <span class="field">
                            @Html.TextBoxFor(m => m.PurchaseReturnImpTransDoc.Transport, new { @class = "input-190 input" })
                        </span>
                    </div>
                    <div class="lag">
                        <label class="label-120">
                            Vehicle No</label>
                        <span class="field">
                            @Html.TextBoxFor(m => m.PurchaseReturnImpTransDoc.VehicleNo, new { @class = "input-120 input" })
                        </span>
                    </div>
                    <div class="lag">
                        <label class="label-120">
                            C/N No</label>
                        <span class="field">
                            @Html.TextBoxFor(m => m.PurchaseReturnImpTransDoc.CnNo, new { @class = "input-100 input" })
                        </span>
                    </div>
                    <div class="lag">
                        <label class="label-120">
                            C/N Date</label>
                        <span class="field">
                            @Html.TextBoxFor(m => m.CnDate, new { @class = "input-80 input" })
                        </span>
                    </div>
                    <div class="lag">
                        <label class="label-120">
                            Document Bank</label>
                        <span class="field">
                            @Html.TextBoxFor(m => m.PurchaseReturnImpTransDoc.DocumentBank, new { @class = "input-190 input" })
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <fieldset>
            <div class="lag">
                <span class="stack">
                    <label class="label-70">
                        Basic Amt</label>
                    @Html.TextBoxFor(x => x.PurchaseReturnMaster.BasicAmt, new { @class = "input-100 MasterBasicAmt", @readonly = "readonly" })
                </span><span class="stack" style="padding-left: 15px">
                    <label class="label-60">
                        Term Amt</label>
                    @Html.TextBoxFor(x => x.PurchaseReturnMaster.TermAmt, new { @class = "input-100 MasterTermAmt", @readonly = "readonly" })
                </span><span class="stack" style="padding-left: 15px">
                    <label class="label-60">
                        Total Amt</label>
                    @Html.TextBoxFor(x => x.PurchaseReturnMaster.NetAmt, new { @class = "input-100 MasterNetAmt", @readonly = "readonly" })
                </span><span class="stack" style="padding-left: 15px">
                    <label class="label-85">
                        Total Amt in Rs</label>
                    @Html.TextBoxFor(x => x.TotalAmtRs, new { @class = "input-90", disabled = "disabled" })
                </span>
            </div>
        </fieldset>
        <div class="clearfix">
        </div>
        @if (Model.EntryControl != null && Model.EntryControl.Remarks)
        {
            <div class="lag">
                <label class="label-90">
                    Remarks</label>
                <span class="field">
                    @Html.TextBoxFor(m => m.PurchaseReturnMaster.Remarks, new { @class = "input-245 input" })
                </span>
            </div>
        }
    </div>
@* if (Model.SystemControl.UDF == "1")
    {
        if (Model.UdfEntries.LongCount() != 0)
        {
            <a href="javascript:void(0);" class="btn UDFCustomFiled">UDF</a>
            <div class="UDFEntry" style="display: none">
                @Html.Partial("_PartialUdfField", Model.UdfEntries)
            </div>
        }
    }*@
}
@if (changeRate)
{
    <script type="text/javascript">
        changeRate = true;
    </script>
}
<script type="text/javascript">
    negativeStockAction = @Model.SystemControl.NegativeStock.ToString();
    var totalAmt = parseFloat(0);
    var totalQty = parseFloat(0);
    $(document).ready(function () {
        var dateType = @Model.SystemControl.DateType.ToString();
        var nepDate;
        if(dateType=="1") {
            $("#InvoiceDate").mask("99/99/9999");
            $("#InvoiceDate").live("blur", function() {
                var validDate = isDate($(this).val(),"/",1,0,2);
                if(!validDate) {
                    $($(this).addClass("error"));
                }
                else {
                    $($(this).removeClass("error"));
                }
            });
        }
        else {
            $("#InvoiceDate").mask("9999/99/99");
            $("#InvoiceDate").live("blur", function() {
                var date = $(this).val();
                var validDate=isNepaliDate(date);
                if(!validDate) {
                    $($(this).addClass("error"));
                }
                else {
                    $($(this).removeClass("error"));
                }
            });
        }
       
     
        if(dateType=="1") {
            $("#DueDate,#PPDDate,#CnDate,#RefDate").mask("99/99/9999");
            $("#DueDate,#PPDDate,#CnDate,#RefDate").live("blur", function() {
                if($(this).val()!="__/__/____"&& $(this).val()!=" ") 
                {
                    var validDate = isDate($(this).val(),"/",1,0,2);
                    if(!validDate) {
                        $($(this).addClass("error"));
                    }
                    else {
                        $($(this).removeClass("error"));
                    }
                }
            });
        }
        else {
            $("#DueDate,#PPDDate,#CnDate,#RefDate").mask("9999/99/99");
            $("#DueDate,#PPDDate,#CnDate,#RefDate").live("blur", function() {
                if($(this).val()!="____/__/__"&& $(this).val()!=" ") 
                {
                    var date = $(this).val();
                    var validDate=isNepaliDate(date);
                    if(!validDate) {
                        $($(this).addClass("error"));
                    }
                    else {
                        $($(this).removeClass("error"));
                    }
                }
            });
        }
        $("#PurchaseReturnMaster_InvoiceMiti").val(nepDate);
        $("#tabs").tabs();
        $(".text_product").attr("id", "product_0");
        $(".text_product").attr("valueId", $(".productId").attr("id"));
        $(".text_product").closest("tr").attr("id", "tr_0");
    });
</script>
