@using KRBAccounting.Enums
@using KRBAccounting.Service
@using KRBAccounting.Service.Helpers
@model KRBAccounting.Web.ViewModels.Report.ReportMarkSheetReportViewModel
<link rel="stylesheet" type="text/css" media="print" href="/Content/Style.css" />
<link rel="stylesheet" type="text/css" media="print" href="/Content/bootstrap/css/bootstrap.css" />
<div class="clearfix">
</div>
@foreach (var i in Model.ExamMarksGrouping)
{
    <div class="ReportList" style="border: 1px solid; min-height: 900px;">
        <div style="margin: 25px;">
            <div class="ReportHeader" style="text-align: center">
                @Html.Partial("_PartialReportHeader", Model.ReportHeader)
                <p style="font-weight: bold; text-decoration: underline">
                    MARKSHEET  </p>
                <div class="clearfix">
                </div></div><div class="clearfix">
                            </div>
            <div>
                   
                <span>
                    Student Name : @i.FirstOrDefault().Studentinfo.StuDesc
                </span>
                <span style="float: left; width: 20% ! important;">
                    Reg No. : @i.FirstOrDefault().Studentinfo.Regno
                </span>
                <div class="clearfix"></div>

                <span style="float: left; width: 20% ! important;">
                    Student Code : @i.FirstOrDefault().Studentinfo.StdCode
                </span>
                
                <span style="float: left; width: 20% ! important;">
                    Class :
                    @{
    var schClass = i.FirstOrDefault().Class;
                    }
                    @if (schClass != null)
                    {
                        @schClass.Description
                    }
                </span>
                <div class="clearfix"></div>
                <div>
                   
                    @{
                        var student = UtilityService.GetStudentDetial(i.FirstOrDefault().StudentId, i.FirstOrDefault().AcademicYearId);
                    }
                 
                    <span style="float: left; width: 20% ! important;">
                        Roll No. : @student.RollNo
                    </span>
                    <span style="float: left; width: 20% ! important;">
                        @if (student.Section != null)
                        {
                            <text> Section : @student.Section.Description</text>
                        }
                        </span>
                        <div class="clearfix"></div>
                        <span>
                            Address :   @i.FirstOrDefault().Studentinfo.TmpAdd , @i.FirstOrDefault().Studentinfo.TmpCity , @i.FirstOrDefault().Studentinfo.TmpDistrict , @i.FirstOrDefault().Studentinfo.TmpCountry
                        </span>
                        <div class="clearfix"></div>
                        <span style="float: left; width: 20% ! important;">
                            Year : @Model.AcademicYear
                        </span>

                        <span style="text-align: left">Exam : @i.FirstOrDefault().Exam.Description.ToUpper()</span>
</div>
            </div>
            <div class="clearfix"></div>
            @{
                decimal thfull = 0;
                decimal thpass = 0;
                decimal thobt = 0;
                decimal parfull = 0;

                decimal parpass = 0;
                decimal parobt = 0;
                decimal total = 0;
                decimal highest = 0;
            }
            <table class="listpopup"  cellspacing="0" cellpadding="0" width="100%">
                <thead>
                    <tr>
                        <th rowspan="2" style="font-size:13px">Code
                        </th>
                        <th rowspan="2" style="font-size:13px">Subject Name
                        </th>
                        <th colspan="3" style="font-size:13px">
                            Theory
                        </th>
                        <th colspan="3" style="font-size:13px">
                            Practical
                        </th>
                        <th rowspan="2" style="font-size:13px">
                            Total
                        </th>
                        <th rowspan="2" style="font-size:13px">
                           HM
                        </th>
                    </tr>
                    <tr>
                    
                        <th style="font-size:13px">
                            FM
                        </th>
                        <th style="font-size:13px">
                            PM
                        </th>
                        <th style="font-size:13px">
                            OM
                        </th>
                        <th style="font-size:13px">
                            FM
                        </th>
                        <th style="font-size:13px">
                            PM
                        </th>
                        <th style="font-size:13px">
                            OM
                        </th>
                        
                    </tr>
                </thead>
                @foreach (var item in Model.ExamMarksEntries.Where(x => x.ExamId == i.FirstOrDefault().ExamId && x.ClassId == i.FirstOrDefault().ClassId && x.StudentId == i.FirstOrDefault().StudentId))
                {
                    var data = UtilityService.GetExamMarkSetup(item.ExamId, item.ClassId, item.SubjectId);
                   
                    <tr>
                        <td>
                            @if (item.Subject != null)
                            {
                                @item.Subject.Code
                            }
                        </td>
                        <td>
                            @if (item.Subject != null)
                            {
                                @item.Subject.Description
                            }
                        </td>
                        <td>
                            @if (data != null)
                            {
                                @data.TheoryFullMark
                            }
                        </td>
                        <td>
                            @if (data != null)
                            {
                                @data.TheoryPassMark
                            }
                        </td>
                        <td>
                                 @if (@item.TheoryStatus == 2)
                            {
                                <text><font color="red">Abs</font> </text>
                            }
                            @if (item.TheoryStatus == 3)
                            {
                                <text><font color="red">W</font> </text>
                            }
                            @if (data != null && item.TheoryObtainedMarks < data.TheoryPassMark)
                            {
                                <text> @item.TheoryObtainedMarks <font class="red">*</font> </text>
                            }
                            else
                            {
                                 @item.TheoryObtainedMarks
                            }
                         
                                                           
                        </td>
                        <td>
                                @if (data != null)
                            {
                                if (Convert.ToInt16(data.PracticalFullMark) != 0)
                                {

                                    @data.PracticalFullMark
                                }
                                else
                                {
                                    <text>-</text>
                                }

                            }
                        </td>
                        <td>
                            @if (data != null)
                            {
                                if (Convert.ToInt16(data.PracticalPassMark) != 0)
                                {
                                    @data.PracticalPassMark
                                }
                                else
                                {
                                    <text>-</text>
                                }
                            }
                        </td>
                        <td>
                            @if (@item.PracticalStatus == 2)
                            {
                                <text><font color="red">Abs</font> </text>
                            }
                            @if (item.PracticalStatus == 3)
                            {
                                <text><font color="red">W</font> </text>
                            }
                           @if (Convert.ToInt16(item.PracticalObtainedMarks) != 0)
{
    if (data != null && item.PracticalObtainedMarks < data.PracticalPassMark)
    {
        <text> @item.PracticalObtainedMarks <font class="red">*</font> </text>
    }
    else
    {
        @item.PracticalObtainedMarks
    }
}
else
{

    <text>-</text>
}
                        </td>
                        <td>
                            @item.Total
                        </td>
                        <td>
                            @item.HighestMarks
                        </td>
                    </tr>
                       thfull += data.TheoryFullMark;
                       thpass += data.TheoryPassMark;
                       thobt += item.TheoryObtainedMarks;
                       parfull += data.PracticalFullMark;

                       parpass += data.PracticalPassMark;
                       parobt += item.PracticalObtainedMarks;
                       total += item.Total;
                       highest += item.HighestMarks;

                }
                <tr style="font-weight:bold">
                    <td colspan="2" style="text-align: center">
                        Total
                    </td>
                    <td>
                        @thfull
                    </td>
                    <td>
                        @thpass
                    </td>
                    <td>@thobt
                    </td>
                    <td>
                        @if (parfull != 0 || parfull != null)
                        {
                            @parfull
                        }
                        else
                        {
                            <text>-</text>
                        }
                        
                    </td>
                    <td>
                        @if (parpass != 0 || parpass != null)
                        {
                             @parpass
                        }
                        else
                        {
                            <text>-</text>
                        }


                    </td>
                    <td>
                        @if (parobt != 0 || parobt != null)
                        {
                            @parobt
                        }
                        else
                        {
                            <text>-</text>
                        }


                    </td>
                    <td>@total
                    </td>
                    <td>
                    </td>
                </tr>
            </table>
            <div class="clearfix">
            </div>
            <div style="width: 100%">
                <div style="border: 1px solid; width: 30%; padding: 10px; margin-top: 10px; float: left">
                    <table style="width: 100%;">
                        <tr>
                            <th colspan="2">
                                DIVISION SYSTEM
                            </th>
                        </tr>
                        @foreach (var item in Model.Division)
                        { 
                            <tr>    <td>@item.Description</td> 
                                <td>@item.PercentageFrom % - @item.PercentageTo %</td></tr>
                       
                            
                        }
                        @*   <tr>
                            <th colspan="2">
                                Division SYSTEM
                            </th>
                        </tr>
                        <tr>
                            <td>
                                Distinction:
                            </td>
                            <td>
                                80% and above
                            </td>
                        </tr>
                        <tr>
                            <td>
                                B - Good:
                            </td>
                            <td>
                                60% and below 80%
                            </td>
                        </tr>
                        <tr>
                            <td>
                                C - Average:
                            </td>
                            <td>
                                50% to below 60%
                            </td>
                        </tr>
                        <tr>
                            <td>
                                D - Fair:
                            </td>
                            <td>
                                Below 40%
                            </td>
                        </tr>*@
                    </table>
                </div>
                <div style="border: 1px solid; width: 30%; padding: 10px; margin-top: 10px; float: right">
                    <table style="width: 100%;">
                        <tr>
                            <td>
                                Result : @i.FirstOrDefault().Result
                            </td>
                            <td>
                                Percentage : @i.FirstOrDefault().Percentage
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                Division :
                                @{
    var scDivision = i.FirstOrDefault().Division;
                                }
                                @if (scDivision != null)
                                {
                                    <text>
                                        @scDivision.Description
                                    </text>

                                }
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Rank :
                                @if (i.FirstOrDefault().Result == "Pass")
                                {
                                    if (i.FirstOrDefault().Rank != 0)
                                    {
                                        @i.FirstOrDefault().Rank
                                    }
                                }
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                Total No of the Students in the Class: @if (i.FirstOrDefault().OutOf != 0)
                                                                       {
                                                                           @i.FirstOrDefault().OutOf
                                                                       }
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Remark
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @i.FirstOrDefault().Remarks
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="clearfix"></div>
                <div style="border: 1px solid; width: 30%; padding: 10px; margin-top: 10px; float: right">
                    <table style="width: 100%;">
                        <tr>
                            <td>
                                Full Marks- FM
                            </td>
                            <td>
                                Pass Marks- PM
                            </td>
                        </tr>
                  
                        <tr>
                            <td>
                                Obt. Marks- OM
                            </td><td>
    Highest Marks- HM
</td>
                        </tr>
                        
                     
                    </table>
                </div>

            </div>
            <div class="clearfix">
            </div>
            <br />
            <div  style="border-top:  1px solid; text-align: center; display: inline-block; width: 170px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   margin-top: 80px;">
                PRINCIPAL</div>
            <div style="border-top: 1px solid; float: right; text-align: center; width: 170px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   margin-top: 80px;">
                Class Teacher</div>
        </div>

    </div>
   
    <div class="clearfix">
    </div>
    <hr />
}
