@model KRBAccounting.Web.ViewModels.Report.StudentCategoryLedgerSheetViewModel
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
@using (Html.BeginForm("StudentCategoryLedgerSheet", "Report", new { controller = "Report" }, FormMethod.Post, new { @class = "form-horizontal", id = "report-form" }))
{
   
        
    
    <div class="lag">
        <label class="label-90">
            Class</label>
        <span class="field">
            @Html.DropDownListFor(m => m.CategoryId, Model.CategoryList, new { @class = "input-100" })
            @Html.ValidationMessageFor(m => m.CategoryId)
        </span>
        <label class="label-90">
            Exam</label>
        <span class="field">
            @Html.DropDownListFor(m => m.ExamId, Model.ExamList, new { @class = "input-190" })
            @Html.ValidationMessageFor(m => m.ExamId)
        </span>
    </div>
   <div class="clearfix">
    </div>
   
}
