<div class="breadLine">
    <ul class="breadcrumb">
        <li><a href="@Url.Action("SubjectList", "Report")"><span class="text" action="SubjectList">
            Subject</span> </a></li>
        |
        <li><a href="@Url.Action("ClassList", "Report")"><span class="text" action="SubjectList">
            Class</span> </a></li>
        |
        <li><a href="@Url.Action("SectionList", "Report")"><span class="text" action="SectionList">
            Section</span> </a></li>
        |
        <li><a href="@Url.Action("ExamList", "Report")"><span class="text" action="ExamList">
            Exam</span> </a></li>
        |
        <li><a href="@Url.Action("Feelist", "Report")"><span class="text" action="Feelist">Fee</span>
        </a></li>
        |
        <li><a href="@Url.Action("Buslist", "Report")"><span class="text" action="Buslist">Bus</span>
            </a></li>
            |
        <li><a href="@Url.Action("Borderlist", "Report")"><span class="text" action="Borderlist">Boarder</span>
            </a></li>
             |
        <li><a href="@Url.Action("FeeTermlist", "Report")"><span class="text" action="FeeTermlist">Fee Term</span>
            </a></li>
             |
        <li><a href="@Url.Action("BusStoplist", "Report")"><span class="text" action="BusStoplist">Bus Stop</span>
            </a></li>
            |
        <li><a href="@Url.Action("BusRoutelist", "Report")"><span class="text" action="BusRoutelist">Bus Routes</span>
            </a></li>
             |
        <li><a href="@Url.Action("StudentCategorylist", "Report")"><span class="text" action="StudentCategorylist">Student Category</span>
            </a></li>
             |
        <li><a href="@Url.Action("StaffGrouplist", "Report")"><span class="text" action="StaffGrouplist">Staff Group</span>
            </a></li>
            |
        <li><a href="@Url.Action("Buildinglist", "Report")"><span class="text" action="Buildinglist">Building</span>
        </a></li>
    </ul>
</div>
