@using KRBAccounting.Enums
@using KRBAccounting.Service
@using KRBAccounting.Service.Helpers
@model KRBAccounting.Web.ViewModels.Report.ReportExamAttendanceReportViewModel
<link rel="stylesheet" type="text/css" media="print" href="/Content/Style.css" />
<link rel="stylesheet" type="text/css" media="print" href="/Content/bootstrap/css/bootstrap.css" />
<div class="clearfix">
</div>
<div class="ReportHeader" style="text-align: center">
    @Html.Partial("_PartialReportHeader", Model.ReportHeader)
</div>
<div class="ReportList">
    <table class="listpopup" cellspacing="0" cellpadding="0" width="100%">
        <thead>
            <tr>
                <th>
                    S.no.
                </th>
                <th>
                    Class
                </th>
                <th>
                    Section
                </th>
                <th>
                    Exam
                </th>
                <th>
                    Date
                </th>
                <th>
                    Std. Code
                </th>
                <th>
                    Student Name
                </th>
                <th>
                    T. Days
                </th>
                <th>
                    Pre. Days
                </th>
                <th>
                    Abs. Days
                </th>
                <th>
                    Narration
                </th>
            </tr>
        </thead>
        @{
            var i = 1;
        }
        @foreach (var item in Model.AttendanceDetails)
        {
            <tr>
                <td>@i
                </td>
                <td>
                    @item.ExamAttendanceMaster.Classes.Description
                </td>
                <td>
              @*   @item.ExamAttendanceMaster.Section.Description*@
                    @if(@item.ExamAttendanceMaster.Section !=null)
                    {
                        @item.ExamAttendanceMaster.Section.Description
                    }
                   
                </td>
                <td>@if (item.ExamAttendanceMaster.Exam != null)
                    {
                        @item.ExamAttendanceMaster.Exam.Description
                    }

                </td>
                <td>@item.ExamAttendanceMaster.EntryDate.ToShortDateString()
                </td>
                <td>
                    @item.Studentinfo.StdCode
                </td>
                <td>
                    @item.Studentinfo.StuDesc
                </td>
                <td>
                    @item.ExamAttendanceMaster.TotalDays
                </td>
                <td>
                    @item.PresentDays
                </td>
                <td>
                    @item.AbsentDays
                </td>
                <td>
                    @item.Narration
                </td>
            </tr>
            i++;
        }
    </table>
</div>
