<div class="breadLine">
    <ul class="breadcrumb">
        <li><a href="@Url.Action("StudentCategoryLedgerSheet", "Report")"><span class="text"
            action="MarkSheetLedger">Student Category Ledger Report</span> </a></li>
        <li>|</li>
        <li><a href="@Url.Action("StudentCategoryConsolidateLedgerSheet", "Report")"><span class="text"
            action="MarkSheetLedger">Student Category Consolidate Ledger Report</span> </a></li>
        <li>|</li>
        <li><a href="@Url.Action("MarkSheetLedger", "Report")"><span class="text" action="MarkSheetLedger">
            Ledger Report</span> </a></li>
        <li>|</li>
        <li><a href="@Url.Action("MarkSheet", "Report")"><span class="text" action="MarkSheet">
            MarkSheet</span> </a></li>
        <li>|</li>
        <li><a href="@Url.Action("ConsolidatedLedgerSheet", "Report")"><span class="text"
            action="ConsolidatedLedgerSheet">Consolidated Ledger Sheet</span> </a></li>
        <li>|</li>
        <li><a href="@Url.Action("ConsolidateMarkSheet", "Report")"><span class="text" action="ConsolidateMarkSheet">
            Consolidated MarkSheet</span> </a></li>
    </ul>
</div>
