@model KRBAccounting.Web.ViewModels.Report.ReportStudentLedgerFromViewModel
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>

@{
    var placeholder = "MM/DD/YYYY";
    var miti = "";
    if(Model.SystemControl.DateType==2)
    {
        miti = "(Miti)";
        placeholder = "yyyy/mm/dd";
    }
}
@using (Html.BeginForm("StudentWiseHouse", "Report", new { controller = "Report" }, FormMethod.Post, new { @class = "form-horizontal", id = "report-form" }))
{
    @Html.HiddenFor(x=>x.DateFrom)
     @Html.HiddenFor(x => x.DateTo)
    <div class="lag">
        <div class="lag">
            <div class="lag">
                <label class="label-90">
                    Date From @miti</label>
                <span class="field">
                    @Html.TextBoxFor(m => m.DisplayDateFrom, new { @class = "input-187", @placeholder = placeholder })
                    @Html.ValidationMessageFor(m => m.DateFrom)
                </span>
                <label class="label-53">
                    Date To @miti</label>
                <span class="field">
                    @Html.TextBoxFor(m => m.DisplayDateTo, new { @class = "input-187", @placeholder = placeholder })
                    @Html.ValidationMessageFor(m => m.DateTo)
                </span>
            </div>
            <div class="clearfix">
            </div>
            <div class="lag">
                <label class="label-90">
                    Class</label>
                <span class="field">
                    @Html.DropDownListFor(m => m.ClassId, Model.ClassList, new { @class = "input-187 chzn-select" })
                    @Html.ValidationMessageFor(m => m.ClassId)
                </span>
                <label class="label-53">
                    House</label>
                <span class="field">
                    @Html.HiddenFor(m => m.HouseId)
                    <input type="text" class="modallink input-120" href="@Url.Action("GetHouseGroups", "School")" valueid="HouseId" id="houseid"/>
                    @Html.ValidationMessageFor(m => m.HouseId)
                </span>
            </div>
            <div class="clearfix"></div>
            <label class="input-90">Search</label>
            <div class="field">
                <input type="text" placeholder="Search" class="studentwisehouse-box" />
            </div>
        </div>
        
    </div>
    <div class="clearfix">
    </div>
    <div class="lag detailEntryTable" style="height: 250px; width: 100%">
        <table class="listpopup" id="student-ledger-detail" style="width: 100%">
            <thead>
                <tr>
                    <th align="center">
                        @Html.CheckBoxFor(m => m.SelectAll, new { @class = "checkall" })
                    </th>
                    <th width="35%">
                        Student
                    </th>
                    <th>
                        Code
                    </th>
                    <th>
                        Roll No
                    </th>
                    <th>
                        Status
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.StudentinfoList)
                {
                    @Html.Partial("_PartialStudentList", item.FirstOrDefault())
                }
            </tbody>
        </table>
    </div>
    <div class="clearfix">
    </div> 
  
}
<script type="text/javascript">
    
        $(document).ready(function() {
        var dateType = @Model.SystemControl.DateType;
        if (dateType == "1") {
            
            $("#DisplayDateFrom,#DisplayDateTo").mask("99/99/9999");
            $("#DisplayDateFrom,#DisplayDateTo").live("blur", function() {
                  var date = $(this).val();
                 if (date != "__/__/____" && date != '' && date != null) {
                     var validDate = isDate($(this).val(), "/", 1, 0, 2);
                     if (!validDate) {
                         $($(this).addClass("error"));
                     } else {
                         $($(this).removeClass("error"));
                     }
                 }
            });
        } else {
            $("#DisplayDateFrom,#DisplayDateTo").mask("9999/99/99");
            $("#DisplayDateFrom,#DisplayDateTo").live("blur", function() {
                var date = $(this).val();
          
                if (date != "____/__/__" && date != '' && date != null) {
                    var validDate = isNepaliDate(date);
                    if (!validDate) {
                        $($(this).addClass("error"));
                    } else {
                        $($(this).removeClass("error"));
                    }
                }
            });
        }
    });
</script>
