@model KRBAccounting.Web.ViewModels.Report.AgeWiseReportFormViewModel
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
@using (Html.BeginForm("AgeWiseReport", "Report", new { controller = "Report" }, FormMethod.Post, new { @class = "form-horizontal", id = "report-form" }))
{
   
        
    
    <div class="lag">
        <div style="float: left; border-right: 1px solid">
            <label class="label-90">
                Category</label>
            <div class="clearfix">
            </div>
            <span class="field">
                @Html.DropDownListFor(m => m.CategoryId, Model.CategoryList, new { @class = "input-100", multiple = "multiple", style = "margin-right: 15px" })
                @Html.ValidationMessageFor(m => m.CategoryId)
            </span>
            <div class="clearfix">
            </div>
            <label class="label-90">
                Select All</label>
            <span class="field">@Html.CheckBoxFor(x => x.SelectAllCategory)</span>
        </div>
        <div style="float: left">
            <label class="label-90">
                Class</label>
            <div class="clearfix">
            </div>
            <span class="field">
                <select id="ClassId" name="ClassId" multiple="multiple">
                    @foreach (var i in Model.ClassList.Where(x => x.ProgramId == 0))
                    {
                        <option value="@i.Id">@i.Description</option>
                    }
                    @foreach (var item in Model.ProgramMasters)
                    {
                        <optgroup label="@item.Description">
                             @foreach (var i in Model.ClassList.Where(x => x.ProgramId == item.Id))
                             {
                        <option value="@i.Id">@i.Description</option>
                             }</optgroup>
                    }
                </select>
            </span>
            <div class="clearfix">
            </div>
            <label class="label-90">
                Select All</label>
            <span class="field">@Html.CheckBoxFor(x => x.SelectAllClass)</span>
        </div>
    </div>
    <div class="clearfix">
    </div>
   
}
<style>
    select
    {
        height: 200px !important;
        min-width: 200px;
        font-size: 13px !important;
    }
    select :hover
    {
        cursor: pointer;
    }
    select option
    {
        margin: 3px 0px;
    }
</style>
<script>
    $('#SelectAllClass').live('change', function () {
        if ($(this).is(':checked')) {
            $('#ClassId option').attr('selected', "selected");
        } else {
            $('#ClassId option').removeAttr('selected');
        }



    });
    $('#SelectAllCategory').live('change', function () {
        if ($(this).is(':checked')) {
            $('#CategoryId option').attr('selected', "selected");
        } else {
            $('#CategoryId option').removeAttr('selected');
        }



    });
</script>
