<div class="breadLine">
    <ul class="breadcrumb">
        <li><a href="@Url.Action("ApplyStudents", "Report")"><span class="text" action="ApplyStudents">
            Apply Student List</span> </a></li>
        <li>| </li>
        <li><a href="@Url.Action("RegistrationStudents", "Report")"><span class="text" action="RegistrationStudents">
            Registration Student List</span> </a></li>
        <li>| </li>
        <li><a href="@Url.Action("ExamAttendances", "Report")"><span class="text" action="ExamAttendances">
            Exam Attendances</span> </a></li>
        <li>| </li>
        <li><a href="@Url.Action("StudentWiseHouse", "Report")"><span class="text" action="StudentWiseHouseReport">
            Student Wise House</span> </a></li>
        <li>| </li>
        <li><a href="@Url.Action("StudentBioData", "Report")"><span class="text" action="StudentBioData">
            Student Bio Data</span> </a></li>
        <li>| </li>
        <li><a href="@Url.Action("StudentIdCard", "Report")"><span class="text" action="StudentIdCard">
            Student Id Card</span> </a></li>
        <li>| </li>
        <li><a href="@Url.Action("Certificates", "Report")"><span class="text" action="Certificates">
            Certificates</span> </a></li>
        <li>| </li>
        <li><a href="@Url.Action("StudentAttendance", "Report")"><span class="text" action="StudentAttendance">
            Attendance</span> </a></li>
        <li>|</li>
        <li><a href="@Url.Action("StudentAdmitCard", "Report")"><span class="text" action="StudentAdmitCard">
            Student Admit Card</span> </a></li><li>|</li>
        <li><a href="@Url.Action("AgeWiseReport", "Report")"><span class="text" action="StudentAdmitCard">
            Student Age Wise Report</span> </a></li>
    
    <li><a href="@Url.Action("BuildingStudent", "Report")"><span class="text" action="StudentAdmitCard">
            Building Student Report</span> </a></li>
    </ul>
</div>
