@model KRBAccounting.Web.ViewModels.Report.ReportApplyStudentListFormViewModel
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
@{


    var placeholder = "MM/DD/YYYY";
    var miti = "";
    if (Model.SystemControl.DateType == 2)
    {
        miti = "(Miti)";
         placeholder = "yyyy/mm/dd";
     }
}
@using (Html.BeginForm("ApplyStudentsReport", "Report", new { controller = "Report" }, FormMethod.Post, new { @class = "form-horizontal", id = "report-form" }))
{
   
    <div class="lag">
        <span class="stack">
            <label class="label-120">
                Date From
            @miti
                
                
                </label>
            <span class="field">@*  @Html.HiddenFor(x => x.DBOMiti)
                                        @Html.HiddenFor(x => x.DBO, new { displayId = "DBODisplay" })
                                       @Html.TextBoxFor(x => x.DBODisplay, new { @class = "input-190 input", miti = Model.SystemControl.DateType, dateId = "DBO", displayId = "DBODisplay", mitiId = "DBOMiti" })*@
                @Html.TextBoxFor(x => x.DisplayDateFrom, new { @class = "input-187", @placeholder = placeholder })
                @Html.ValidationMessageFor(x => x.DateFrom)
            </span></span>
            
            
             <span class="stack">
            <label class="label-120">
                Date To  @miti</label>
            <span class="field">@*  @Html.HiddenFor(x => x.DBOMiti)
                                        @Html.HiddenFor(x => x.DBO, new { displayId = "DBODisplay" })
                                       @Html.TextBoxFor(x => x.DBODisplay, new { @class = "input-190 input", miti = Model.SystemControl.DateType, dateId = "DBO", displayId = "DBODisplay", mitiId = "DBOMiti" })*@
                @Html.TextBoxFor(x => x.DisplayDateTo, new { @class = "input-187", @placeholder = placeholder })
                @Html.ValidationMessageFor(x => x.DateTo)
            </span></span>


    </div>
        
  @*  <div class="lag">
        <label class="label-120 ">
            Date From(English)</label>
        <span class="field">
            @Html.DateTextBoxFor(x => x.DateFrom, new { @class = "input-187", @placeholder = "MM-dd-yyyy" })
            @Html.ValidationMessageFor(m => m.DateFrom)
        </span>
        <label class="label-120">
            Date To(English)</label>
        <span class="field">
            @Html.DateTextBoxFor(x => x.DateTo, new { @class = "input-187", @placeholder = "MM-dd-yyyy" })
            @Html.ValidationMessageFor(m => m.DateTo)
        </span>
    </div>
       *@
 
    <div class="clearfix">
    </div>
    <div class="lag">
        <label class="label-120">
            Class</label>
        <span class="field">
            @Html.DropDownListFor(m => m.ClassId, Model.ClassList, new { @class = "input-100  chzn-select" })
            @Html.ValidationMessageFor(m => m.ClassId)
        </span>
        <label class="label-120">
            Categroy</label>
        <span class="field">
            @Html.DropDownListFor(m => m.CategoryId, Model.CategoryList, new { @class = "input-190  chzn-select" })
            @Html.ValidationMessageFor(m => m.CategoryId)
        </span>
    </div>
    <div class="clearfix">
    </div>
    <div class="lag">
        <label class="label-120">
            Gender</label>
        <span class="field">
            @Html.DropDownListFor(m => m.Gender, Model.GenderList, new { @class = "input-100 chzn-select" })
            @Html.ValidationMessageFor(m => m.Gender)
        </span>
    </div>
}
<script type="text/javascript" language="javascript">

     $(document).ready(function () {
        $("#DisplayDateFrom, #DisplayDateTo").mask("99/99/9999");
    });
        $(document).ready(function() {
        var dateType = @Model.SystemControl.DateType;
        if (dateType == "1") {
            $("#DisplayDateFrom,#DisplayDateTo").mask("99/99/9999");
            $("#DisplayDateFrom,#DisplayDateTo").live("blur", function() {
                  var date = $(this).val();
               if (date != "__/__/____" && date != '' && date != null) {
                   var validDate = isDate($(this).val(), "/", 1, 0, 2);
                   if (!validDate) {
                       $($(this).addClass("error"));
                   } else {
                       $($(this).removeClass("error"));
                   }
               }
            });
        } else {
            $("#DisplayDateFrom,#DisplayDateTo").mask("9999/99/99");
            $("#DisplayDateFrom,#DisplayDateTo").live("blur", function() {
                var date = $(this).val();
                 if (date != "____/__/__" && date != '' && date != null) {
                     var validDate = isNepaliDate(date);
                     if (!validDate) {
                         $($(this).addClass("error"));
                     } else {
                         $($(this).removeClass("error"));
                     }
                 }
            });
        }
    });


</script>
