@model KRBAccounting.Web.ViewModels.Report.BuildingStudentViewModel
<link rel="stylesheet" type="text/css" media="print" href="/Content/Style.css" />
<link rel="stylesheet" type="text/css" media="print" href="/Content/bootstrap/css/bootstrap.css" />
<div class="clearfix">
</div>
<div class="ReportHeader" style="text-align: center">
    @Html.Partial("_PartialReportHeader", Model.ReportHeader)
</div>
<div class="ReportList">
    <table class="listpopup" cellspacing="0" cellpadding="0" width="100%">
        <thead>
            <tr>
                <th>
                    Building
                </th>
                <th>
                    Room
                </th>
                <th>
                    Class
                </th>
                <th>
                    Total Students
                </th>
            </tr>
        </thead>
        @foreach (var item in Model.StatisticsStudentBuildingCounts.GroupBy(x => x.BuildingName))
        {
            <tr>
                <td>@item.Key
                </td>
            </tr>
            foreach (var ite in Model.StatisticsStudentBuildingCounts.Where(x => x.BuildingName == item.Key))
            {
            <tr>
                <td>
                </td>
                <td>
                    @ite.RoomName
                </td>
                <td>@ite.ClassName
                </td>
                <td>@ite.Total
                </td>
            </tr>
                    
            }

        }
    </table>
</div>
