@model KRBAccounting.Web.ViewModels.Report.ConsolidatedLedgerSheetViewModel
@{
    ViewBag.Title = "Student Result Report";
}
@Html.Partial("_PartialResultReportBreadCrumb")
<div class="workplace">
    <div class="row-fluid">
        <div class="span12">
            <div class="head">
                <h1>
                    Student Result Report</h1>
                <ul class="buttons">
                    <li><a href="javascript:void(0)" id="generate_report" title="Generate New Report"
                        class="isw-refresh"></a></li>
                    <li><a href="@Url.Action("PdfConsolidatedLedgerReport", "Report")" target="_blank" title="Export to Pdf" class="isw-pdf" >
                    </a></li>
                    <li><a href="@Url.Action("ExcelConsolidatedLedgerReport", "Report")" target="_blank" title="Export to Excel" class="isw-excel">
                    </a></li>
                    <li><a id="print" title="Print" class="isw-print"></a></li>
                </ul>
                <div class="clear">
                </div>
            </div>
            <div style="width: 100%; overflow-x: auto" class="block-fluid">
                <div id="report" >
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="dialog" id="modalReportForm">
    <div class="block">
        @Html.Partial("_partialConsolidateLedgerSheetForm", Model)</div>
</div>
<script type="text/javascript">


    $(document).ready(function () {

        $("#modalReportForm").dialog('open');
        $("#generate_report").live("click", function () {
            $("#modalReportForm").dialog('open');
        });
    });
   
    $("#modalReportForm").dialog({
        autoOpen: true,
        modal: true,
        width: '500px',
        buttons: {
            "Ok": function () {

                Begin();
                Save();
                checkValidationError();
            },
            Cancel: function () {
                $(this).dialog("close");
            }
        }
    });

    function Save() {

        var form = $("#report-form");
        var url = form.attr("action");
        $("form").removeData("validator");
        $("form").removeData("unobtrusiveValidation");
        $.validator.unobtrusive.parse(form);

        var checkconsolidated = false;

        if ($("#ConsolidatedCode").val() != null) {
            checkconsolidated = true;
        }
        if (checkconsolidated == false) {
            alert("Please Select Consolidated"); $.unblockUI();
            return false;
        }




        if ($("form").valid() && checkconsolidated == true) {
           
            $.ajax({

                url: url,
                data: form.serialize(),
                datatype: "JSON",
                type: "POST",
                error: function () {

                    alert("An error occurred.");
                    $.unblockUI();
                },
                success: function (data) {
                  
                    $("#report").html(data.partialView);
                    $.each(data.studentrank, function () {
                        $("#report .Student-" + this.StudentId).find(".studentrank").html(this.Rank);

                    });
                    $("#modalReportForm").dialog("close");
                    $.unblockUI();
                }
            });
        }
    }



    $("#ClassId,#ExamId").live("change", function () {
        var classId = $("#ClassId").val();
        var examid = $("#ExamId").val();
        $.getJSON('@Url.Action("GetConsolidated")?classId=' + classId + '&&examId=' + examid, function (data) {
            var item = "";
            $.each(data, function () {
                item += '<option value="' + this.value + '">' + this.text + '</option>';
            });
            $("#ConsolidatedCode").html(item);
        });

    });
   
</script>
