@model KRBAccounting.Web.ViewModels.Academy.AdcademicsClassFeeRateViewModel
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
@using (Ajax.BeginForm("ClassFeeRateAdd", "School", new { controller = "School" }, new AjaxOptions { HttpMethod = "Post", OnBegin = "Begin", OnSuccess = "success" }, new { @class = "form-horizontal from-custom online-form", id = "form-id" }))
{
    <div class="lag">
        <span class="stack">
            <label class="label-70">
                Class</label>
            <span class="field">
                @Html.HiddenFor(x => x.ClassFeeRate.ClassId)
                <input type="text" class = "modallink input-120" href="@Url.Action("GetClasses", "School")" valueId="ClassFeeRate_ClassId" id="class-id" title="Class" entermsg = "Press F1 for choosing existing cash/bank list." />
                @Html.ValidationMessageFor(m => m.ClassFeeRate.ClassId)
            </span></span>
       
        <span class="stack">
            <label class="label-70">
                Shift</label>
            <span class="field">
                @Html.HiddenFor(m => m.ClassFeeRate.ShiftId)
                <input type="text" class = "modallink input-120" href="@Url.Action("GetShifts", "School")" valueId="ClassFeeRate_ShiftId" id="Shift-id" title="Shift" entermsg = "Press F1 for choosing existing cash/bank list." />
                @Html.ValidationMessageFor(m => m.ClassFeeRate.ShiftId)
            </span></span>


    
        <span class="stack">
            <label class="label-70">
                Boarder</label>
            <span class="field">
                @Html.HiddenFor(m => m.ClassFeeRate.BoaderId)
                <input type="text" class = "modallink input-120" href="@Url.Action("GetBoaders", "School")" valueId="ClassFeeRate_BoaderId" id="Boader-id" title="Boarder" entermsg = "Press F1 for choosing existing cash/bank list." />
                @Html.ValidationMessageFor(m => m.ClassFeeRate.BoaderId)
            </span></span>
    </div>
    <div class="clearfix">
    </div>
    <hr />
    <div class="clearfix">
    </div>
    <div class="lag detailEntryTable" style="height: 400px;">
        <table class="table-bordered" id="table-class-fee-rate-detail" style="width: 615px">
            <tr class="nodrop nodrag">
                <th width="20px">
                </th>
                <th>
                    Fee Item
                </th>
                <th>
                    Fee Rate
                </th>
                <th>
                    Narration
                </th>
            </tr>
        </table>
    </div>
    <div class="clearfix">
    </div>
    <hr />
    <div class="lag">
        <span class="stack">
            <label class="label-90">
                Remarks</label>
            <span class="field">
                @Html.TextBoxFor(m => m.ClassFeeRate.Remarks, new { @class = "input-305 input", entermsg = "Enter Remarks" })
                @Html.ValidationMessageFor(m => m.ClassFeeRate.Remarks)
            </span></span><span class="stack">
                <label class="label-90">
                    Total Amount</label>
                <span class="field">
                    @Html.TextBoxFor(m => m.TotalAmount, new { @class = "input-100 input", entermsg = "Enter Remarks" })
                </span></span>
    </div>
}

