@model IEnumerable<KRBAccounting.Domain.Entities.ScStudentFeeRateDetail>
           
           <br/>
<div id="loadpage">
 
        <b>
            @if (Model.Count() != 0)
            {
                   <p align="center">Class: @Model.FirstOrDefault().FeeRateMaster.Studentinfo.Class.Description <br/>

          @Model.FirstOrDefault().FeeRateMaster.Studentinfo.StuDesc 
            </p>
            }
        </b>
  
    <table cellpadding="0" cellspacing="0" width="100%" class="listpopup" id="tbl-list">
        <thead>
            <tr>
                <th>
                    S.No
                </th>
                <th>
                    Fee Item
                </th>
                <th>
                    Basic Amount
                </th>
                 <th>
                  Term Amount
                </th>
                <th>
                   Net Amount
                </th>
            </tr>
        </thead>
        <tbody>
            @{var i = 1;}
            @foreach (var item in Model)
            {
                <tr>
                    <td>@i
                    </td>
                    <td>
                        @item.FeeItem.Description
                    </td>
                    <td>
                        @item.FeeRate
                    </td>
                    <td>
                         @item.TermAmount
                        
                    </td>
                     <td>
                         @item.NetAmount
                        
                    </td>
                   
                    
                </tr>
                i += 1;
            }
        </tbody>
    </table>
</div>
