@model KRBAccounting.Domain.Entities.ScStudentFeeRateDetail
@using KRBAccounting.Service
<tr class="subject-detail-entry detail-entry">
    @using (Html.BeginCollectionItem("subjectEntry"))
    {
        string display = "display:none;";
        string billTermClass = "";
        if (Model.AllowFeeWiseFeeTerm == 1)
        {
            display = "";
            billTermClass = "rate-bill-term";
        }
        <td class="sno">
        </td>
        <td>
            @Html.HiddenFor(x => x.DetailGuid, new { @class = "detailGuid" })
            @Html.HiddenFor(x => x.Index, new { @class = "indexId" })
            @Html.HiddenFor(x => x.FeeItemId, new { @class = "hdn_Subject_Id" })
            <input type="text"   value="@if(!string.IsNullOrEmpty(Model.FeeTermName))
                                                          {
                                                              @Model.FeeTermName
                                                          } " class = "modallink text_subject input-190 input" href="@Url.Action("GetFeeItems")" parent="hdn_Subject_Id"  children="hdn_Subject_Id"  title="Subject "  entermsg = "Press F1 for existing Account list." />
        </td>
        <td>
            @Html.TextBoxFor(x => x.FeeRate, new { @class = "FeeRate basicAmt input-80 input " + billTermClass })
            
            <span class="product_wise_billterms"></span>
        </td>
        
        <td>
            @Html.TextBoxFor(x => x.TermAmount, new { @class = "input-80 termAmt input", @readonly = "readonly" })
        </td>

        <td >
            @Html.TextBoxFor(x => x.NetAmount, new { @class = "input-80 netAmt input", @readonly = "readonly" })
        </td>
        <td>
            @Html.TextBoxFor(x => x.Narration, new { @class = "narration input-190 input", href = "/School/StudentFeeRateDetailAdd?AllowFeeWiseFeeTerm=" + Model.AllowFeeWiseFeeTerm, entermsg = "Enter Narration or press F1 for existing Narration List." })
        </td>
        <td>
            <img src="../../Content/img/delete.png" width="15px" class="del-row">
        </td>
       

    }
</tr>
