@using KRBAccounting.Service.Models
@using KRBAccounting.Web.CustomFilters
@model PagedList<KRBAccounting.Domain.Entities.ScHouseGroup>
           @{
               var userRight = (UserRight)ViewBag.UserRight;
           }
<div class="block-fluid table-sorting">
    <table cellpadding="0" cellspacing="0" width="100%" class="table" id="tbl-list">
        <thead>
            <tr>
                <th width="5%">
                    S.N.
                </th>
                <th>
                    Code
                </th>
                <th>
                    Description
                </th>
             @*   <th>
                    CreatedDate
                </th>
                <th>
                    CreatedBy
                </th>*@
                <th>
                    UpdatedDate
                </th>
                <th>
                    UpdatedBy
                </th>
                <th width="5%">
                </th>
                <th width="5%">
                </th>
            </tr>
        </thead>
        <tbody>
            @{var i = Convert.ToInt32(ViewBag.SnStart);}
            @foreach (var item in Model)
            {

                <tr>
                    <td align="center">@i
                    </td>
                    <td>@item.Code
                    </td>
                    <td>@item.Description
                    </td>
                   @* <td>@item.CreatedDate.ToShortDateString()
                    </td>
                    <td>
                        @if (item.CreatedBy != null)
                        {
                            @item.CreatedBy.Username
                        }
                    </td>*@
                    <td>@item.UpdatedDate.ToShortDateString()
                    </td>
                    <td>
                        @if (item.UpdatedBy != null)
                        {
                            @item.UpdatedBy.Username
                        }
                    </td>
                    <td>@if (userRight.Edit)
                        {
                            <a href="javascript:void(0)" class="editScHouseGroup icon-edit" data-id="@item.Id" title="Edit">
                            </a>
                        }
                    </td>
                    <td>@if (userRight.Delete){
                        <a href="javascript:void(0)" class="deleteClass icon-remove" data-id="@item.Id" title="Delete">
                        </a>}
                    </td>
                </tr>
                        i++;
            }
        </tbody>
    </table>
    <div class="pagination">
        @Html.Raw(Html.AjaxPager(Model, "HouseGroupsList", "School", new PagerOptions() { PageIndexParameterName = "pageNo", ShowGoButton = false }, new AjaxOptions() { UpdateTargetId = "boader-list" }))
    </div>
</div>
@*<script type="text/javascript" src="/Scripts/cooperative.pagination-begin-end-request-loader.js">
</script>*@ 