@using KRBAccounting.Service.Models
@using KRBAccounting.Web.CustomFilters
@model PagedList<KRBAccounting.Domain.Entities.ScExtraActivity>
           @{
               var userRight = (UserRight)ViewBag.UserRight;
           }
<div class="block-fluid table-sorting">
    <table cellpadding="0" cellspacing="0" width="100%" class="listpopup" id="tbl-list">
        <thead>
            <tr>
                <th width="5%">S.N.</th><th>Code</th>
                <th>Description</th>
                <th>Memo</th>
                <th width="5%"></th>
            </tr>
        </thead>
        <tbody>
            @{var i = Convert.ToInt32(ViewBag.SnStart);}
            @foreach (var item in Model)
            {
                <tr align="center">
                    <td align="center">@i</td>
                    <td>@item.Code</td>
                    <td>@item.Description</td>
                    <td>@item.Memo</td>
                    <td>@if (userRight.Edit)
                        {
                            <a href="#" class="editExtraActivity icon-edit" data-id="@item.Id" title="Edit"></a>
                        }</td>
                    <td>@if (userRight.Delete)
                        {<a href="#" class="deleteScExtraActivity icon-remove" data-id="@item.Id" title="Delete"></a>}</td>
                </tr>
                i++;
            }
        </tbody>
    </table>
    <div class="pagination">
        @Html.Raw(Html.AjaxPager(Model, "ExtraActivityList", "School", new PagerOptions() { PageIndexParameterName = "pageNo", ShowGoButton = false }, new AjaxOptions() { UpdateTargetId = "extra-activity-list"}))
    </div> 
</div>
@*<script type="text/javascript" src="/Scripts/cooperative.pagination-begin-end-request-loader.js">
</script>*@