@model KRBAccounting.Domain.Entities.ScPrePaidScheme
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
@using (Ajax.BeginForm("PrePaidSchemeAdd", "School", new { controller = "School" }, new AjaxOptions { HttpMethod = "Post", OnBegin = "Begin", OnSuccess = "success" }, new { @class = "form-horizontal from-custom online-form", id = "form-id" }))
{
    @Html.HiddenFor(x => x.Id)
    <div class="lag">
        <div class="stack">
            <label class="label-70">
                Description</label>
            <div class="field">@Html.TextBoxFor(m => m.Description, new { @class = "input-305 input", entermsg = "Enter Remarks" })
                @Html.ValidationMessageFor(m => m.Description)
            </div>
        </div>
    </div>
    <div class="clearfix">
    </div>
    <div class="lag">
        <div class="stack">
            <label class="label-70">
                Class</label>
            <div class="field">@Html.HiddenFor(x => x.ClassId)
                <input type="text" class = "modallink input-305" href="@Url.Action("GetClasses", "School")" createhref="@Url.Action("")" valueId="ClassId" id="feeitemledger" title="Account Name" entermsg = "Press F1 for choosing existing cash/bank list." />
                @Html.ValidationMessageFor(m => m.ClassId)</div>
        </div>
    </div>
    <div class="clearfix">
    </div>
    <div class="lag detailEntryTable" style="height: 400px;">
        <table class="table-bordered" id="table-class-fee-rate-detail">
            <tr class="nodrop nodrag">
                <th width="20px">
                </th>
                <th>
                    Days
                </th>
                <th>
                    Percentage
                </th>
                <th>
                    Amount
                </th>
            </tr>
           
            @Html.Partial("_PartialPrePaidSchemeDetailAdd", new KRBAccounting.Domain.Entities.ScPrePaidSchemeDetails())
        </table>
    </div>
       

}
<script type="text/javascript">
    $(document).ready(function () {
        $(".first-col").closest('tr').attr('id', "tr_0");
    });
</script>