@model KRBAccounting.Domain.Entities.ScHouseMapping
@using KRBAccounting.Enums
@using KRBAccounting.Service
@{
    var d = Model.StartDate.ToString("dd/MM/yyyy");
    var e = Model.EndDate.ToString("dd/MM/yyyy");
}
<tr class="subject-detail-entry detail-entry deletable">
    @using (Html.BeginCollectionItem("subjectEntry"))
    {
        <td class="dragHandle">
            &nbsp;&nbsp;&nbsp;
        </td>
        <td>
            @Html.HiddenFor(x => x.StudentId, new { @class = "hdn_Subject_Id first-col" })
            <input type="text"  class = "modallink text_subject input-120 input" value="@if (Model.Studentinfo != null)
                                                                                        {
                                                                                            @Model.Studentinfo.StuDesc
                                                                                        }
                                                                                           "   href="@Url.Action("GetStudentByClassSection", "School",new{classId=Model.ClassId,sectionId=Model.SectionId})" title="Student List"  />
        </td>
        <td>
           
             <input type="text" readonly='readonly'  class = "input-100 input" value="@if (Model.Studentinfo != null)
                                                                                        {
                                                                                            @Model.Studentinfo.StdCode
                                                                                        }
                                                                                           "     />
        </td>
        <td>
            @Html.HiddenFor(x => x.Status, new { @class = "hdn_Status" })
            @{
                var status = string.Empty;
                if(Model.Status !=0)
                {
                    status = Enum.GetName(typeof(StudentStatus), Model.Status);
                }
            }
            <input type="text"  class = "modallink text_status input-120 input" value="@status"   href="@Url.Action("GetStudentStatus", "School")" title="Subject "  entermsg = "Press F1 for existing Account list." />
        </td>  
        <td>
            @Html.HiddenFor(m => m.StartMiti, new { @class = "StartMiti" })
            @Html.HiddenFor(m => m.StartDate, new { @class = "StartDate", displayId = "DisplayDate" })
            <input type="text" id="DisplayDate" class="DisplayStartDate input-90 input" value="@d"  miti="@Model.DateType" dateId = "StartDate" displayId = "DisplayDate" mitiId = "StartMiti"/>
        </td> 
        <td>
             <span>
                @Html.HiddenFor(m => m.EndMiti, new { @class = "EndMiti" })
                @Html.HiddenFor(m => m.EndDate, new { @class = "EndDate", displayid = "DisplayEndDate" })
                <input type="text" id="DisplayEndDate" class="DisplayEndDate input-90 input" value="@e" miti="@Model.DateType" dateId = "EndDate" displayId = "DisplayEndDate" mitiId = "EndMiti"/>
            </span>
        </td> 
        var url = Url.Action("HouseDetailAdd", new { sectionId = Model.SectionId, classId = Model.ClassId });
        <td>
            @Html.TextBoxFor(x => x.Narration, new { @class = "last-col-custom input-160 input",tableid = "table-class-fee-rate-detail", href = url, entermsg = "Enter Narration or press F1 for existing Narration List." })
        </td>
        <td>
            <img src="../../Content/img/delete.png" width="15px" class="del-row">
        </td>

    }
</tr>
<script type="text/javascript">
    $(".del-row").live("click", function () {
        $(this).closest("tr").remove();
    });

</script>