@using KRBAccounting.Enums
@using KRBAccounting.Service.Models
@using KRBAccounting.Web.CustomFilters
@model PagedList<IGrouping<int, KRBAccounting.Domain.Entities.ScClassSubjectMapping>>
           @{
               var userRight = (UserRight)ViewBag.UserRight;
           }
<div class="block-fluid table-sorting">
    <table cellpadding="0" cellspacing="0" width="100%" class="listpopup" id="tbl-list">
        <thead>
            <tr>
                <th width="5%">
                    S.No
                </th>
                <th>
                    Code
                </th>
                <th>
                    Description
                </th>
                <th>
                    Narration
                </th>
                <th width="5%">
                </th>
                <th width="5%">
                </th>
            </tr>
        </thead>
        <tbody>
            @{var i = Convert.ToInt32(ViewBag.SnStart);}
            @foreach (var item in Model)
            {
                <tr >
                    <td align="center" >@i
                    </td>
                    <td>
                        @{
                                  var @class = item.FirstOrDefault().Class;
                        }
                        @if (@class != null)
                        {
                            @(@class.Code)
                        }
                    </td>
                    <td class="_detail ttLT" title="@item.FirstOrDefault().Class.Description" data-classid="@item.FirstOrDefault().ClassId" style="cursor: pointer" align="center">
                        @{
                        var schClass = item.FirstOrDefault().Class;
                        }
                        @if (schClass != null)
                        {
                            @schClass.Description
                        }
                    </td>
                    <td>@item.FirstOrDefault().Narration
                    </td>
                    <td>  @if (userRight.Edit)
                        {
                            <a href="#" class="editScClassSubject icon-edit" data-id="@item.FirstOrDefault().ClassId" title="Edit">
                            </a>
                        }
                    </td>
                    <td>  @if (userRight.Delete)
                        {
                            <a href="@Url.Action("ClassSubjectMappingDelete", new {classId = item.FirstOrDefault().ClassId})" onclick = "return confirm('Are you sure you wish to delete this Class with Subject Setup?');" class="deleteScClassSubject icon-remove" title="Delete">
                            </a>
                        }
                    </td>
                </tr>
                            i += 1;
            }
        </tbody>
    </table>
</div>
<div class="pagination">
    @Html.Raw(Html.AjaxPager(Model, "ClassSubjectMappingList", "School", new PagerOptions() { PageIndexParameterName = "pageNo", ShowGoButton = false }, new AjaxOptions() { UpdateTargetId = "classsubject-list" }))
</div>
