@{
    ViewBag.Title = "House Mapping";
    var userRight = (UserRight)ViewBag.UserRight;
}
@using KRBAccounting.Service.Models
@model int
<div class="workplace">
    <div id="ledger-list">
        <div class="row-fluid">
            <div class="span12">
                <div class="head">
                    <div class="isw-grid">
                    </div>
                    <h1>
                        House Setup</h1>
                    <ul class="buttons">
                        @if(userRight.Create)
                        {
                             <li><a href="#" class="isw-plus addScSubject"></a></li>
                        }
                       
                    </ul>
                    <div class="clear">
                    </div>
                </div>
                <div id="boader-list">
                    @Html.Action("HouseMappingsList")
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dialog" id="modalsubject" style="display: none;" title="House Setup Master(+)">
    <div class="block">
    </div>
</div>
<script type="text/javascript">
    function Begin() {
        $.blockUI({
            message: 'Please Wait..',
            css: {
                border: 'none',
                padding: '15px',
                backgroundColor: '#fff',
                '-webkit-border-radius': '10px',
                '-moz-border-radius': '10px',
                color: '#000'
            }
        });
    }
    $("#modalsubject").dialog({
        autoOpen: false,
        modal: true,
        width: 'auto',
        buttons: {
            "Ok": function () {
                Begin();
                $("#form-id").submit();
                $.unblockUI();
            },
            Cancel: function () {
                $(this).dialog("close");
            }
        }
    });
    function writeError(control, msg) {
        var err_msg = '<div class="alert-message error"><a class="close" href="javascript:void(0);">×</a><p>' + msg + '</p></div>';
        $('#' + control).html(err_msg);
    }
    function getRequest(url) {
        $.ajax({
            url: url,
            context: document.body,
            success: function (data) {
                $('#modalsubject .block').html(data);
                $(this).addClass("done");
                $("#modalsubject").dialog('open');
                $.unblockUI();
            },
            error: function (err) {
                writeError('msgErrorNewLocationDetails', err);
            }
        });
    }

    $('a.addScSubject').live('click', function () {
        Begin();
        var url = '@Url.Action("HouseMappingAdd", "School")';
        getRequest(url);

        return false;
    });
    $('a.editScClassFeeRate').live('click', function () {
        Begin();
        var classId = $(this).attr("data-ClassId");
        var sectionId = $(this).attr("data-SectionId");
        var houseGroupId = $(this).attr("data-HouseGroupId");
        var url = '@Url.Action("HouseMappingEdit", "School")?classId=' + classId + '&&sectionId=' + sectionId + '&&housegroupId=' + houseGroupId;
        getRequest(url);
        return false;
    });
    function OnComplete() {

        $('#modalsubject .block').load("/School/HouseMappingAdd");
        $("#boader-list").load("/School/HouseMappingsList"); $.unblockUI();
    }
    function OnCompleteEdit() {


        $("#boader-list").load("/School/HouseMappingsList");
        $('#modalsubject').dialog("close"); $.unblockUI();
    }

    function success(data) {
        if (data == "True") {
            OnComplete();
        }
        else {
            alert(data);
        }
    }
    function successEdit(data) {
        if (data == "True") {
            OnCompleteEdit();
        }
        else {
            alert(data);
        }
    }
</script>
<script type="text/javascript">
    $(".text_subject").live("blur", function() {
        elementt = $(this).closest('tr');
      var studentId=  elementt.find('.hdn_Subject_Id').val();
        if(studentId !=0 && studentId != '') {
            var url = "@Url.Action("GetStudentCode")?id=" + studentId;

            $.getJSON(url, function(data) {
                elementt.find(".stdCode").val(data);
            });
        }
    });


    $("#houseHouseGroupId").live("blur", function (e) {
        var ClassId = $("#ClassId").val();
        var SectionId = $("#SectionId").val();
        var HouseGroupId = $("#HouseGroupId").val();
        var Id = $("#Id").val();
        if(SectionId =='') {
            SectionId = 0;
            $("#SectionId").val(0);
        }
        e.preventDefault();
        if (ClassId != 0 && ClassId != '' && HouseGroupId != 0 && HouseGroupId != '') {
            var url = '@Url.Action("HouseDetail")';
            $.blockUI({
                message: 'Please Wait..',
                css: {
                    border: 'none',
                    padding: '15px',
                    backgroundColor: '#fff',
                    '-webkit-border-radius': '10px',
                    '-moz-border-radius': '10px',
                    color: '#000'
                }
            });
            
            $.ajax({
                url: url,
                data: { ClassId: ClassId, SectionId: SectionId, HouseGroupId: HouseGroupId,Id:Id },
                type: "GET",
                error: function () {
                    alert("An error occurred.");
                    $.unblockUI();
                },
                success: function (data) {
                    if(data =="ExistData") { 
                        e.preventDefault();
                         $.unblockUI();
                        return false;
                    
                    }
                    if (data != "false") {
                        $("#table-class-fee-rate-detail tr.detail-entry").remove();
                        $("#table-class-fee-rate-detail").append(data);
                        $("#table-class-fee-rate-detail").append();

                        var ledgerElement = document.querySelectorAll(".hdn_Subject_Id");
                        $.each(ledgerElement, function (index) {
                            var element = $(this).closest("tr");
                            element.attr("id", "tr_" + index);

                            var Subject_valueid = element.find(".hdn_Subject_Id").attr("id");

                            element.find(".text_subject").attr({
                                "valueId": Subject_valueid,
                                "id": "text_subject_" + index
                            });
                            var hdn_Status = element.find(".hdn_Status").attr("id");

                            element.find(".text_status").attr({
                                "valueId": hdn_Status,
                                "id": "text_status_" + index
                            });
                            
                            element.find(".DisplayStartDate").attr("id", "DisplayStartDate_" + index);
                            var StartMiti = element.find(".StartMiti").attr("id");

                            var DisplayStartDate = element.find(".DisplayStartDate").attr("id");
                            


                            element.find(".StartDate").attr({
                                "displayid": DisplayStartDate,
                                "id": "StartDate_" + index
                             
                                
                            });

                          
                            element.find(".DisplayStartDate").attr({
                                "dateId": "StartDate_" + index,
                                displayid: DisplayStartDate,
                                mitiId: StartMiti
                            });
                            
                           
                            element.find(".DisplayEndDate").attr("id", "DisplayEndDate_" + index);
                            var DisplayEndDate = element.find(".DisplayEndDate").attr("id");
                            element.find(".EndDate").attr({
                                "displayid": DisplayEndDate,
                                "id": "EndDate_" + index
                              
                                
                            });
                            var EndMiti = element.find(".EndMiti").attr("id");
                            element.find(".DisplayEndDate").attr({
                                "dateId": "EndDate_" + index,
                                displayid: DisplayEndDate,
                                mitiId: EndMiti
                            });

                       
                            var Sdate = element.find(".DisplayStartDate").val();
                            var Edate = element.find(".DisplayEndDate").val();
                            var dateType = @Model;
                            var nepStartDate;
                            var nepEndDate;  
                            if(dateType==1) {
      
                                nepStartDate = convertToNepali(Sdate);
                                nepEndDate = convertToNepali(Edate);
            
                            } else {
                                Sdate = convertToNepali(Sdate);
                                nepStartDate = Sdate;
            
                                Edate = convertToNepali(Edate);
                                nepEndDate = Edate;
            
                                $("#"+DisplayStartDate).val(nepStartDate);
                                $("#"+DisplayEndDate).val(nepEndDate);

                            }

                            $("#"+StartMiti).val(nepStartDate);
                            $("#"+EndMiti).val(nepEndDate);
                            

           

                        }); 
                       
                      
                        $.unblockUI();
                    } else {
                        $.unblockUI();
                         e.preventDefault();
                        alert('already Exists');
                        return false;
                    }
                }
            });
        }
       
    });
    



    function NewRowDetailList(element, index) {
     
        element = element.closest("tr").next("tr");
   
        element.attr("id", "tr_" + index);

                            var Subject_valueid = element.find(".hdn_Subject_Id").attr("id");

                            element.find(".text_subject").attr({
                                "valueId": Subject_valueid,
                                "id": "text_subject_" + index
                            });
                            var hdn_Status = element.find(".hdn_Status").attr("id");

                            element.find(".text_status").attr({
                                "valueId": hdn_Status,
                                "id": "text_status_" + index
                            });
                            
                            element.find(".DisplayStartDate").attr("id", "DisplayStartDate_" + index);
                            var StartMiti = element.find(".StartMiti").attr("id");

                            var DisplayStartDate = element.find(".DisplayStartDate").attr("id");
                            


                            element.find(".StartDate").attr({
                                "displayid": DisplayStartDate,
                                "id": "StartDate_" + index
                             
                                
                            });

                          
                            element.find(".DisplayStartDate").attr({
                                "dateId": "StartDate_" + index,
                                displayid: DisplayStartDate,
                                mitiId: StartMiti
                            });
                            
                           
                            element.find(".DisplayEndDate").attr("id", "DisplayEndDate_" + index);
                            var DisplayEndDate = element.find(".DisplayEndDate").attr("id");
                            element.find(".EndDate").attr({
                                "displayid": DisplayEndDate,
                                "id": "EndDate_" + index
                              
                                
                            });
                            var EndMiti = element.find(".EndMiti").attr("id");
                            element.find(".DisplayEndDate").attr({
                                "dateId": "EndDate_" + index,
                                displayid: DisplayEndDate,
                                mitiId: EndMiti
                            });


                              var Sdate = element.find(".DisplayStartDate").val();
                            var Edate = element.find(".DisplayEndDate").val();
                            var dateType = @Model;
                            var nepStartDate;
                            var nepEndDate;  
                            if(dateType==1) {
      
                                nepStartDate = convertToNepali(Sdate);
                                nepEndDate = convertToNepali(Edate);
            
                            } else {
                                Sdate = convertToNepali(Sdate);
                                nepStartDate = Sdate;
            
                                Edate = convertToNepali(Edate);
                                nepEndDate = Edate;
            
                                $("#"+DisplayStartDate).val(nepStartDate);
                                $("#"+DisplayEndDate).val(nepEndDate);

                            }

                            $("#"+StartMiti).val(nepStartDate);
                            $("#"+EndMiti).val(nepEndDate);





//        $(".busStopIdText:last").attr("id", "busStop_" + index);
//        $(".busStopIdText:last").closest("tr").attr("id", "tr_" + index);
//        $(".busStopIdText").attr("valueId", $(".hdn_busStopId:last").attr("id"));
    }
    
    
     
</script>
