@using KRBAccounting.Enums
@using KRBAccounting.Service.Helpers
@model IEnumerable<KRBAccounting.Domain.Entities.StudentSlcInfo>
<div class="block-fluid table-sorting">
    <table cellpadding="0" cellspacing="0" width="100%" class="table" id="tbl-list">
        <thead>
            <tr>
                <th width="5%">S.N.</th>
                <th width="20%">
                    Name
                </th>
                <th>Symbol No</th>
                   <th>Registration No</th>
                <th>Percentage </th>
                <th>Division</th>
                <th>Pass Year (AD)</th>
                      <th>Pass Year (BS)</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
            }
            @foreach (var item in Model)
            {
             
                <tr>
                    <td >@i</td>
                    
                    <td>@item.Student.StuDesc
                    </td>
                    <td>@item.SlcSymbolNo</td>
                    <td>@item.SlcRegNo</td>
                    <td>@item.Percentage</td>
                    <td>@item.Division</td>
                    <td>@item.PassYearAD</td>
                       <td>@item.PassYearBS</td>
               
                    @if (KRBAccounting.Web.CustomFilters.CheckPermission.GivePermission("Edit", "GL"))
                    {
                        <td>
                            <a href="javascript:voi(0);" class="editLedger icon-pencil" data-id="@item.Id" title="Edit:"></a>
                        </td> 
                    }
                    <td><a href="javascript:void(0)"  class="LedgerDelete icon-remove" data-id="@item.Id" title="Delete"></a></td>
                </tr>
                    i++;
            }
        </tbody>
    </table>
   @* <div class="pagination">
        @Html.Raw(Html.AjaxPager(Model, "LedgerList", "Master", new PagerOptions() { PageIndexParameterName = "pageNo", ShowGoButton = false }, new AjaxOptions() { UpdateTargetId = "ledger-list" }))
    </div>*@
</div>

