@using System.Data
@using KRBAccounting.Service
@using KRBAccounting.Service.Helpers
@model KRBAccounting.Web.ViewModels.ARAP.PurchaseSummaryViewModel
@{
    decimal totalBasicAmt = 0;
    decimal totalGrandTotal = 0;
}
<link rel="stylesheet" type="text/css" media="print" href="/Content/Style.css" />
<link rel="stylesheet" type="text/css" media="print" href="/Content/bootstrap/css/bootstrap.css" />
<div class="clearfix"></div>
<div class="ReportHeader" style="text-align: center">
    @Html.Partial("_PartialReportHeader", Model.ReportHeader)
</div>
<div class="ReportList">
    <table border="1" style="font-size: 12px;">
        <thead>
         <tr bgcolor="#E6EEEE" align="center" style="font-weight: bold">
                <th>
                    Code
                </th>
                <th>
                    Product Description
                </th>
                <th>
                    Qty
                </th>
                <th>
                    Rate
                </th>
                <th>
                    Basic Amt
                </th>
            </tr>
        </thead>
        @foreach (var item in Model.PurchaseDetails)
        {
            <tr>
                <td>
                         @(Model.Datetype == 1 ? @item.InvoiceDate.ToString("MM/dd/yyyy") : @item.InvoiceMiti)
                </td>
                <td>
                    Inv. No: @item.InvoiceNo
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                    Vendor:
                </td>
                <td>@item.AccountName
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
            decimal total = 0;
            var productDetails = StoredProcedureService.GetPurchaseDetailProducts(item.Id);
            foreach (var products in productDetails)
            {
                total += products.BasicAmt;
            <tr>
                <td>@products.ShortName
                </td>
                <td>@products.Name
                </td>
                <td style="text-align: right">@products.Qty @products.Unit
                </td>
                <td style="text-align: right">@products.Rate
                </td>
                <td style="text-align: right">@products.BasicAmt
                </td>
            </tr>

                var productWiseBillTerms = StoredProcedureService.GetPurchaseProductWiseTerms(products.Id);
                foreach (var productWiseTerm in productWiseBillTerms)
                {
                    total += productWiseTerm.TermAmount;
            <tr>
                <td>
                </td>
                <td style="text-align: right">@productWiseTerm.Description
                </td>
                <td>
                </td>
                <td style="text-align: right">
                    @if (productWiseTerm.Rate != 0)
                    {@productWiseTerm.Rate}
                </td>
                <td style="text-align: right">@productWiseTerm.TermAmount
                </td>
            </tr>
                }
            }
             if (Model.DisplayRemarks)
                {
                    if (item.Remarks!=null)
                    {
                        <tr>
                            <td style="text-align: right; font-size: 11px">
                                Remarks :
                            </td>
                            <td colspan="5" style="padding-left: 40px; font-size: 11px">
                                @item.Remarks
                            </td>
                        </tr>
                    }
                }
             totalBasicAmt += total;
            <tr>
                <td>
                </td>
                <td style="text-align: right">
                    Total
                </td>
                <td>
                </td>
                <td style="text-align: right">
                </td>
                <td style="text-align: right">@total
                </td>
            </tr>
                                         var billWiseBillTerms = StoredProcedureService.GetPurchaseBillWiseTerms(item.Id);
                                         foreach (var billWiseTerm in billWiseBillTerms)
                                         {
            <tr>
                <td>
                </td>
                <td style="text-align: right">@billWiseTerm.Description
                </td>
                <td>
                </td>
                <td style="text-align: right">
                    @if (billWiseTerm.Rate != 0)
                    {@billWiseTerm.Rate}
                </td>
                <td style="text-align: right">@billWiseTerm.TermAmount
                </td>
            </tr>
                                         }
            
            <tr>
                <td>
                </td>
                <td style="text-align: right">
                    Invoice Amount
                </td>
                <td>
                </td>
                <td>
                </td>
                <td style="text-align: right">@item.NetAmt
                </td>
            </tr>
                                         totalGrandTotal += item.NetAmt;
        }
        <tr>
            <td>
            </td>
            <td style="text-align: right;font-weight:bold">
                Total Basic Amt
            </td>
            <td>
            </td>
            <td>
            </td>
            <td style="text-align: right;font-weight:bold">@totalBasicAmt
            </td>
        </tr>
        
        @{
            var footerTerms = StoredProcedureService.GetPurchaseFooterTerms(Model.StartDate, Model.EndDate);
        }
        @foreach (var item in footerTerms)
        {
            if (item.TermAmount != 0)
            {
                <tr>
            <td>
            </td>
            <td style="text-align: right;font-weight:bold">
                Total @item.Description
            </td>
            <td>
            </td>
            <td>
            </td>
            <td style="text-align: right;font-weight:bold">@item.TermAmount
            </td>
        </tr>
            }
        }
        <tr>
            <td>
            </td>
            <td style="text-align: right;font-weight:bold">
                Grand Total
            </td>
            <td>
            </td>
            <td>
            </td>
            <td style="text-align: right;font-weight:bold">@totalGrandTotal
            </td>
        </tr>
    </table>
</div>
