@model KRBAccounting.Domain.Entities.ScStudentCategory
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Ajax.BeginForm("AddStudentCategories", "Student", new { controller = "Student" }, new AjaxOptions { HttpMethod = "Post" }, new { @class = "form-horizontal from-custom online-form", id = "class-frm" }))
{
    if (ViewBag.SaveFromPickList != null)
    {
        <input type="hidden" name="SaveFromPickList" value="1"/>
    }
    <div style="width: 500px;">
        <div class="lag">
            <label class="label-160">
                Description</label>
            <span class="field">
                @Html.TextBoxFor(model => model.Description, new {@class = "input input-253"})
                @Html.ValidationMessageFor(model => model.Description)
            </span>
        </div>
        <div class="lag">
            <label class="label-160">
                Memo</label>
            <span class="field">
                @Html.TextAreaFor(model => model.Memo, new {@class = "input input-253"})
                @Html.ValidationMessageFor(model => model.Memo)
            </span>
        </div>
    </div>
    <span class="clearfix"></span>
    <input type="button" class="btn btn-small btn-primary onlineSave" value="Save" />
}           



