@using KRBAccounting.Service.Helpers
@using KRBAccounting.Service.Models
@model PagedList<KRBAccounting.Domain.Entities.ScRollNumberingScheme>
@{
    var i = 1;
    var userRight = (UserRight)ViewBag.UserRight;
}
<div class="workplace">
    <div class="head">
        <div class="isw-grid">
        </div>
        <h1>
            Roll Numbering Scheme</h1>
        @if (userRight.Create)
        {<ul class="buttons">
            <li><a href="#" class="isw-plus addDocNumScheme"></a></li>
        </ul>
        }
        <div class="clear">
        </div>
    </div>
    <div id="ledger-list">
        <div class="block-fluid table-sorting" id="tbl-list">
            <table cellpadding="0" cellspacing="0" width="100%" class="listpopup" style="width: 100%">
                <thead>
                    <tr>
                        <th>
                            S.No
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Class Name
                        </th>
                        <th>
                            Section
                        </th>
                        <th>
                            Numbering Style
                        </th>
                        <th>
                            Prefix
                        </th>
                        <th>
                            Suffix
                        </th>
                        <th>
                            Body Length
                        </th>
                        <th>
                            Total Length
                        </th>
                        <th>
                            Numeric Left Fill
                        </th>
                        <th>
                            Fill Character
                        </th>
                        <th>
                            Start No
                        </th>
                        <th>
                            End No
                        </th>
                        <th>
                            Current No
                        </th>
                        <th width="3%">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var DocumentNumberStyleTypeEnum = new StringEnum(typeof(KRBAccounting.Enums.DocumentNumberStyleTypeEnum));
                        <tr>
                            <td>@i
                            </td>
                            <td>
                                @item.Description
                            </td>
                            <td>
                                @if (item.Class != null)
                                {
                                    @item.Class.Description
                                }
                            </td>
                            <td>
                                @if (item.Section != null)
                                {
                                    @item.Section.Description
                                }
                            </td>
                            <td>@DocumentNumberStyleTypeEnum.GetStringValue(item.Mode)
                            </td>
                            <td>@item.Prefix
                            </td>
                            <td>@item.Suffix
                            </td>
                            <td>@item.BodyLen
                            </td>
                            <td>@item.TotalLen
                            </td>
                            <td>@item.NumFill
                            </td>
                            <td>@item.CharFill
                            </td>
                            <td>@item.StartNo
                            </td>
                            <td>@item.EndNo
                            </td>
                            <td>@item.CurrNo
                            </td>
                            <td>
                                @if (userRight.Create)
                                {
                                    <a href="Javascript:void(0)" data-id="@item.Id" title="Edit" class="editDocNumScheme icon-pencil">
                                    </a>
                                }
                            </td>
                        </tr>
                                i++;
                    }
                </tbody>
            </table>
            <div class="pagination">
                @Html.Raw(Html.AjaxPager(Model, "RollNumberingSchemeList", "Management", new PagerOptions() { PageIndexParameterName = "pageNo", ShowGoButton = false }, new AjaxOptions() { UpdateTargetId = "DocNumScheme-list", OnBegin = "BeginRequest", OnComplete = "EndRequest" }))
            </div>
        </div>
        <script type="text/javascript" src="/Scripts/cooperative.pagination-begin-end-request-loader.js">
        </script>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#tbl-list").tablesorter({ widgets: ['zebra'] });
    }); 
</script>
