@model KRBAccounting.Web.ViewModels.School.ScStaffSubjectMappingViewModel
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
@using (Ajax.BeginForm("StaffSubjectMappingAdd", "EmployeeManagement", new { controller = "EmployeeManagement" }, new AjaxOptions { HttpMethod = "Post", OnSuccess = "success" }, new { @class = "form-horizontal from-custom online-form", id = "staffsubjectform-id" }))
{
    @Html.HiddenFor(x=>x.StaffSubjectMapping.Id)
    <div class="lag">
        <div class="stack">
            <label class="label-120">
                Employee Name</label>
            @Html.HiddenFor(m=>m.StaffSubjectMapping.StaffId)
            <input type="text" class="modallink input-305" href="@Url.Action("GetEmployeeInfoForStaffSubjectMapping", "EmployeeManagement")" parent="StaffSubjectMapping_Id" valueid="StaffSubjectMapping_StaffId" id="staffid"/>
            @Html.ValidationMessageFor(m => m.StaffSubjectMapping.StaffId) 
        </div>
    </div>
    
    <div class="clearfix"></div>
       <div class="checkboxs lag">
      <label class="label-120">
                Subjects</label>
 
        <div class="stack" style="width: 40%;">
          
            <div class="field">
                @Html.CheckBoxList("SubjectItemList", Model.SubjectList.ToList())
            </div>
        </div>
    </div>
    
}