@using KRBAccounting.Enums
@using KRBAccounting.Service
@using KRBAccounting.Service.Helpers
@model KRBAccounting.Web.ViewModels.Student.StudentGeneralInformationViewModel
<link rel="stylesheet" type="text/css" media="print" href="/Content/Style.css" />
<link rel="stylesheet" type="text/css" media="print" href="/Content/bootstrap/css/bootstrap.css" />
<div class="workplace">
    <div class="row-fluid">
        <div class="span12">


            @foreach (var i in Model.StduentAttendacegrouping)
            {
                <div class="ReportList" style="border: 1px solid; height: 900px;">
                    <div style="margin: 25px;">
                        <div class="ReportHeader" style="text-align: center">
                            @Html.Partial("_PartialReportHeader", Model.ReportHeader)
                            <br />
                            <div class="clearfix">
                            </div>
                            <div>

                                <p align="left" style="font-weight: bold; float: left;font-size:8px;">
                                    NAME : @i.FirstOrDefault().StuDesc &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    REGISTRATION NO. : @Model.Studentinfo.Regno &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    STUDENT CODE : @Model.Studentinfo.StdCode &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    <br />
                                    CLASS : @i.FirstOrDefault().ClassName &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;



                                    SECTION : @i.FirstOrDefault().SectionName &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    ROLL NO. : @Model.ScStudentRegistrationDetail.RollNo
                                    <br />




                                    ADDRESS : @Model.Studentinfo.TmpAdd, @Model.Studentinfo.TmpCity, @Model.Studentinfo.TmpDistrict, @Model.Studentinfo.TmpCountry

                                </p>

                                <p align="right" style="font-weight: bold;font-size:8px;">
                                    TOTAL WORKING DAYS : @Model.WorkingDays
                                </p>


                            </div>
                        </div>
                        <br />
                        <table border="0.5" style="font-size:8px;">
                            <thead>
                                <tr bgcolor="#E6EEEE" align="center" style="font-weight:bold">

                                    <th style="font-size:8px;">
                                        Present Day
                                    </th>
                                    <th style="font-size:8px;">
                                        Percentage
                                    </th>
                                </tr>
                            </thead>
                            @foreach (var item in Model.StudentAttendances.Where(x => x.SectionId == i.FirstOrDefault().SectionId && x.ClassId == i.FirstOrDefault().ClassId).GroupBy(x => x.StudentID))
                            {
                                <tr>

                                    <td>
                                        @item.FirstOrDefault().PresentDays
                                    </td>
                                    <td>

                                        @item.FirstOrDefault().PresentPercentage
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                    <div class="clearfix">
                    </div>
                </div>

                <div class="clearfix">
                </div>

            }
        </div>
    </div>
</div>