@using KRBAccounting.Service.Models
@using KRBAccounting.Web.CustomFilters
@model KRBAccounting.Web.ViewModels.Student.StudentGeneralInformationViewModel
@{
    var data1 = @Model.SpStudentInfoHeader.FirstOrDefault();
}
<div class="workplace">

    <div class="row-fluid">
        @Html.Partial("_PartialReportHeader", Model.ReportHeader)
        <br />
        <p align="left" style="font-weight: bold; float: left;font-size:8px;">
            NAME :@data1.Student &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            REGISTRATION NO. :@data1.Regno &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            STUDENT CODE : @data1.StdCode &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <br />
            CLASS :@data1.Class &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;



            SECTION :@data1.Section &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

            ROLL NO. @data1.Rollno
            <br />




            ADDRESS : @data1.TmpAdd, @data1.TmpCity, @data1.TmpDistrict, @data1.TmpCountry

        </p>
        <br />
        <div class="block-fluid table-sorting">
            <table border="0.5" style="font-size:8px;">
                <thead>
                    <tr bgcolor="#E6EEEE" align="center" style="font-weight: bold">

                        <th style="font-size:8px;">
                            Class
                        </th>
                        <th style="font-size:8px;">
                            Section
                        </th>
                        <th style="font-size:8px;">
                            Student
                        </th>
                        <th style="font-size:8px;">
                            Date From
                        </th>
                        <th style="font-size:8px;">
                            Date To
                        </th>
                        <th style="font-size:8px;">
                            Confirm
                        </th>
                        <th style="font-size:8px;">
                            Reason
                        </th>
                        <th style="font-size:8px;">
                            Status
                        </th>
                        <th style="font-size:8px;">
                            Application
                        </th>
                        <th style="font-size:8px;">
                            Remarks
                        </th>

                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.ScAbsentApplications)
                    {

                        <tr>

                            <td class="class">
                                @if (item != null)
                                {
                                    @item.Class.Description
                                }
                            </td>
                            <td>
                                @if (item.Section != null)
                                {
                                    @item.Section.Description
                                }
                            </td>
                            <td>
                                @if (item.Student != null)
                                {
                                    @item.Student.StuDesc
                                }
                            </td>
                            <td>
                                @item.DateFrom.ToShortDateString()
                            </td>
                            <td>
                                @item.DateTo.ToShortDateString()
                            </td>
                            <td>
                                @item.IsConfirm
                            </td>
                            <td>
                                @item.Reason
                            </td>
                            <td>
                                @item.Status
                            </td>
                            <td>
                                @item.IsApplication
                            </td>
                            <td>
                                @item.Remarks
                            </td>

                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
