@model KRBAccounting.Web.ViewModels.Master.AccountGroupViewModel
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@*@Html.CustomValidationSummary("Login was unsuccessful. Please correct the errors and try again.")*@
@using (Ajax.BeginForm("AccountGroupEdit", "Master", new { controller = "Master" }, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "MsgError", OnSuccess = "sucessEdit" }, new { @class = "form-horizontal", id = "account-group-form" }))
{
    <div id="MsgError">
    </div>
    @Html.HiddenFor(x => x.AccountGroup.Id)
    @Html.HiddenFor(x => x.AccountGroup.CreatedById)
    @Html.HiddenFor(x => x.AccountGroup.CreatedDate)
    @Html.HiddenFor(x => x.AccountGroup.BranchId)
    <div style="width: 445px;">
        <div class="lag">
            <label class="label-90">
                Description</label>
            <span class="field">
                @Html.TextBoxFor(m => m.AccountGroup.Description, new { @class = "input-295 input" })
                @Html.ValidationMessageFor(m => m.AccountGroup.Description)<span class="loading AccountGroup_Description">
                    <img title="w_loader_gr.gif" src="/Content/themes/img/loaders/w_loader_gr.gif" /></span>
            </span>
        </div>
        <div class="lag">
            <label class="label-90">
                Type</label>
            <span class="field">
                @Html.DropDownListFor(m => m.AccountGroup.GroupType, Model.Type, new { @class = "input" })
            </span>
        </div>
        <div class="lag">
            <label class="label-90">
                A/c Type</label>
            <span class="field">
                @Html.DropDownListFor(m => m.AccountGroup.GroupAccountType, Model.SubType, new { @class = "input" })
            </span>
        </div>
    </div>
}
<script type="text/javascript">

    //    $("#AccountGroup_Description").live("focusout", function () {
    //        var name = $(this).val();
    //        if (name != "") {
    //            $.getJSON("/Master/IsAccountGroupAvailable?name=" + name + "&id=@Model.AccountGroup.Id", "", function (data, status, xhr) {
    //                if (data != '') {
    //                    $("#MsgError").html(data);
    //                    $("#AccountGroup_Description").addClass("error");
    //                    $("#AccountGroup_Description").focus();
    //                } else {
    //                    $("#MsgError").html('');
    //                    $("#AccountGroup_Description").removeClass("error");
    //                }
    //            });
    //        }
    //    });
</script>
