@model KRBAccounting.Domain.Entities.CostCenter

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@*@Html.CustomValidationSummary("Login was unsuccessful. Please correct the errors and try again.")*@
@using (Ajax.BeginForm("CostCenterEdit", "Master", new { controller = "Master" }, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "MsgError",OnSuccess = "successEdit"}, new { @class = "form-horizontal", id = "cost-center-form" }))
{
    <div id="MsgError"></div>
    @Html.HiddenFor(x=>x.Id)
    @Html.HiddenFor(x => x.CreatedById)
    @Html.HiddenFor(x => x.CreatedDate)
    @Html.HiddenFor(x => x.BranchId)
      <div style="width: 445px;">

              <div class="lag">
                  <label class="label-90">
                      Name</label>
                  <span class="field">
                      @Html.TextBoxFor(m => m.Name, new { @class = "input-295 input" })
                      @Html.ValidationMessageFor(m => m.Name)
                      <span class="loading Name">
                    <img title="w_loader_gr.gif" src="/Content/themes/img/loaders/w_loader_gr.gif" /></span>
                  </span>
              </div>
          <div class="lag">
              <label class="label-90">
                  Short Name</label>
              <span class="field">
                  @Html.TextBoxFor(m => m.ShortName, new { @class = "input-80 input" })
                  @Html.ValidationMessageFor(m => m.ShortName)
                  <span class="loading ShortName">
                    <img title="w_loader_gr.gif" src="/Content/themes/img/loaders/w_loader_gr.gif" /></span>
              </span>
          </div>
          <div class="lag">
              <label class="label-90">
                  Address</label>
              <span class="field">
                  @Html.TextBoxFor(m => m.Address, new { @class = "input-295 input" })
                  @Html.ValidationMessageFor(m => m.Address)
              </span>
          </div>
          <div class="lag">
              <label class="label-90">
                  Phone</label>
              <span class="field">
                  @Html.TextBoxFor(m => m.Phone, new { @class = "input-295 input" })
                  @Html.ValidationMessageFor(m => m.Phone)
              </span>
          </div>
          <div class="lag">
                  <label class="label-90">
                      Contact Person</label>
                  <span class="field">
                      @Html.TextBoxFor(m => m.ContactPerson, new { @class = "input-295 input" })
                      @Html.ValidationMessageFor(m => m.ContactPerson)
                  </span>
              </div>

      </div>
}
@*<script type="text/javascript">
    $("#Name").live("focusout", function () {
        var name = $(this).val();
        $.getJSON("/Master/IsCostCenterNameAvailable?name=" + name + "&id=@Model.Id", "", function (data, status, xhr) {
            if (data != '') {
                $("#MsgError").html(data);
                $("#Name").focus();
            }
        });
    });
    $("#ShortName").live("focusout", function () {
        var name = $(this).val();
        $.getJSON("/Master/IsCostCenterShortNameAvailable?name=" + name + "&id=@Model.Id", "", function (data, status, xhr) {
            if (data != '') {
                $("#MsgError").html(data);
                $("#ShortName").focus();
            }
        });
    });
</script>*@