@using KRBAccounting.Service.Models
@using KRBAccounting.Web.CustomFilters
@model IEnumerable<KRBAccounting.Domain.Entities.ScGrade>
           
           @{
               var userRight = (UserRight)ViewBag.UserRight;
           }
<div class="block-fluid table-sorting">
    <table cellpadding="0" cellspacing="0" width="100%" class="listpopup" id="tbl-list">
        <thead>
            <tr>
                <th width="5%">S.N.</th>
                <th width="20%">
                    Code
                </th>
                <th>
                    Grade
                </th>
                <th>
                    Memo
                </th>
                <th width="5%"></th>
            </tr>
        </thead>
        <tbody>
            @{var i = 1;}
            @foreach (var item in Model)
            {
                <tr align="center">
                    <td >@i</td>
                    <td>@item.Code
                    </td>
                    <td>@item.Grade
                    </td>
                    <td>@item.Memo
                    </td>
                    <td>@if (userRight.Edit)
                        {
                            <a href="#" class="editScGrade icon-edit" data-id="@item.Id" title="Edit"></a>
                        }
              
                @if (userRight.Delete){
                            <a href="#" class="deleteScGrade icon-remove" data-id="@item.Id" title="Delete">
                            </a>}
                    </td>
                </tr>
                i++;
            }
        </tbody>
    </table>
</div>