
@using KRBAccounting.Enums
@model IEnumerable<KRBAccounting.Domain.Entities.ScTransportMapping>
  <div class="clearfix"></div>         
 <div id="loadpage">
 
        <b>
            @if (Model.Count() != 0)
            {
                <p align="center">
                    Class: @Model.FirstOrDefault().SchClass.Description<br/>
                    
                 
                    @if (Model.FirstOrDefault().SectionId != 0)
                             {
<text>Section: </text>
                                 @Model.FirstOrDefault().ScSection.Description
                             }

                </p>
            }
        </b>
    <table cellpadding="0" cellspacing="0" width="100%" class="listpopup" id="tbl-list">
        <thead>
            <tr>
                <th width="5%">S.N.</th>
                <th>
                    Student Name
                </th>
                <th>
                    Registation Number
                </th>
                <th>
                    Bus Stop From
                </th>
                <th>
                    Bus Stop To
                </th>
                <th>
                    Status
                </th>
             
                <th>
                    Start Date
                </th>
                <th>
                    End Date
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Narration 
                </th>
            </tr>
        </thead>
        <tbody>
            @{var i =1;}
            @foreach (var item in Model)
            {

               
                <tr>
                    <td align="center">@i</td>
                    <td>
                        @item.studentinfo.StuDesc
                    </td>
                    <td>
                        @item.studentinfo.Regno
                    </td>
                   
                    <td> @if(item.ScBusStopFrom!=null){@item.ScBusStopFrom.Description}
                    </td>
                    <td>@if(item.ScBusStopTo!=null){@item.ScBusStopTo.Description}
                    </td>
                    <td>
                       @Enum.GetName(typeof(Status), Convert.ToInt32(item.Status))
                    </td>
                    <td>
                        @Convert.ToDateTime(item.StartDate).ToString("MM/dd/yyyy")
                    </td>
                    <td> @Convert.ToDateTime(item.EndDate).ToShortDateString()
                    </td>
                    <td>
                       @item.TransportAmt
                    </td>
                    <td>
                       @item.Narr
                    </td>
                </tr>
                i++;
            }
        </tbody>
    </table>
    
</div>
