@using KRBAccounting.Web.CustomFilters
@model PagedList<KRBAccounting.Domain.Entities.PyPFEmployeeMaster>
<div class="block-fluid table-sorting">
    <table cellpadding="0" cellspacing="0" width="100%" class="listpopup" id="tbl-list">
        <thead>
            <tr>
                <th>
                     Flat 
                </th>
                <th>
                    Value
                </th>
                <th>
                    Employee
                </th>
                <th>
                    Annual
                </th>
                <th>
                    Status
                </th>
             @*   <th>
                    CreatedBy
                </th>
                <th>
                    CreatedOn
                </th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var i = 1;
                <tr align="center">
                    <td>
                        @item.IsFlat
                    </td>
                    <td>
                        @item.Value
                    </td>
                    <td>
                        @foreach (var c in item.PyPfEmployeeMappings)
                        {
                            if (i == 1)
                            {
                                <text> @c.EmployeeInfo.Description </text>
                            }
                            else
                            {
                                <text>, @c.EmployeeInfo.Description </text>
                            }
                            i++;
                        }
                    </td>
                    <td>
                        @item.IsAnnual
                    </td>
                    <td>@item.Status
                    </td>
                   @* <td>@item.User.FullName
                    </td>
                    <td>@item.CreatedOn
                    </td>*@
                    <td>
                        @if (CheckPermission.GivePermission("Edit", "PyPFEM"))
                        {
                            <a href="javascript:void(0)" class="editScRoom icon-pencil" data-id="@item.Id" title="Edit">
                            </a>
                        }
                    </td>
                    <td>
                         @if (CheckPermission.GivePermission("Delete", "PyPFEM"))
                         {
                             <a href="javascript:void(0)" class="deleteClass icon-remove" data-id="@item.Id" title="Delete">
                             </a>
                         }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="pagination">
        @Html.Raw(Html.AjaxPager(Model, "PFEmployeeMastersList", "Payroll", new PagerOptions() { PageIndexParameterName = "pageNo", ShowGoButton = false }, new AjaxOptions() { UpdateTargetId = "Rooms-list" }))
    </div>
</div>
