<div class="breadLine">
    <ul class="breadcrumb">
        <li><a href="@Url.Action("AllowanceMasters", "Payroll")"><span class="text" action="AllowanceMasters">
            Allowance Masters</span> </a></li>
        <li>|</li>
        <li><a href="@Url.Action("CorporateSalaryMasters", "Payroll")"><span class="text"
            action="CorporateSalaryMasters">Corporate Salary Masters</span> </a></li>
        <li>|</li>
        <li><a href="@Url.Action("DeductionMasters", "Payroll")"><span class="text" action="DeductionMasters">
            Deduction Masters</span> </a></li>
        <li>|</li>
        <li><a href="@Url.Action("EmployeeDeductionMasters", "Payroll")"><span class="text"
            action="EmployeeDeductionMasters">Employee Deduction Masters</span> </a></li>
        <li>|</li>
        <li><a href="@Url.Action("EmployeeSalaryMasters", "Payroll")"><span class="text"
            action="EmployeeSalaryMasters">Employee Salary Masters</span> </a></li>
        <li>|</li>
        <li><a href="@Url.Action("PFEmployeeMasters", "Payroll")"><span class="text"
            action="PFEmployeeMasters">PF Employee Masters</span> </a></li>
        <li>|</li><li><a href="@Url.Action("TaxDeductionPatterns", "Payroll")"><span class="text"
            action="TaxDeductionPatterns">Tax Deduction Patterns</span> </a></li>
    </ul>
</div>
