@model KRBAccounting.Web.ViewModels.Payroll.PayrollPFEmployeeViewModel
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
@using (Ajax.BeginForm("PFEmployeeMasterAdd", "Payroll", new { controller = "Payroll" }, new AjaxOptions { HttpMethod = "Post", OnSuccess = "success" }, new { @class = "form-horizontal from-custom online-form", id = "form-id" }))
{<div id="error-msg">
    </div>    <div class="lag">
    <div class="lag">
        <div class="stack">
            <div class="stack">
                <label class="label-90">
                     Flat</label>
                <div class="field">
                    @Html.EditorFor(m => m.PyPfEmployeeMaster.IsFlat, new { @class = "input-100 input", entermsg = "Enter Year" })
                    @Html.ValidationMessageFor(m => m.PyPfEmployeeMaster.IsFlat)
                </div>
            </div>
            <label class="label-90 percent-value">
                Percentage</label>
            <div class="field">
                @Html.TextBoxFor(m => m.PyPfEmployeeMaster.Value, new { @class = "input-100 input", entermsg = "Enter Amount" })
                @Html.ValidationMessageFor(m => m.PyPfEmployeeMaster.Value)
            </div>
        </div>
    </div>
    <div class="clearfix">
    </div>
    <div class="lag">
        <div class="stack">
            <label class="label-90">
                 Annual</label>
            <div class="field">
                @Html.EditorFor(m => m.PyPfEmployeeMaster.IsAnnual, new { @class = "input-190 input", entermsg = "Enter Status" })
                @Html.ValidationMessageFor(m => m.PyPfEmployeeMaster.IsAnnual)
            </div>
        </div>
       
    </div>
</div>
    <div class="lag checkboxs" style="width: auto">
        <div class="stack" style="width: 100% ! important;">
            <label class="label">
                Employee
            </label>
            <div class="field">
                @Html.CheckBoxList("EmployeeId", Model.CheckBoxListInfos)
                @*@Html.ValidationMessageFor(m => m.AllowanceId)*@
            </div>
        </div>
    </div>
    <div class="clearfix">
    </div>
}