@model KRBAccounting.Web.ViewModels.Payroll.PayrollEmployeeSalaryMasterViewModel
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
@using (Ajax.BeginForm("EmployeeSalaryMasterAdd", "Payroll", new { controller = "Payroll" }, new AjaxOptions { HttpMethod = "Post", OnSuccess = "success" }, new { @class = "form-horizontal from-custom online-form", id = "form-id" }))
{<div id="error-msg">
    </div>
    <div class="lag">
        <div class="lag">
            <div class="stack">
                <label class="label-120">
                    Employee</label>
                <div class="field">
                    @Html.DropDownListFor(m => m.EmployeeSalaryMaster.EmployeeId, Model.EmployeeList, new { @class = "input-190 input", entermsg = "Enter EmployeePostId" })
                    @Html.ValidationMessageFor(m => m.EmployeeSalaryMaster.EmployeeId)
                </div>
            </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="lag">
            <div class="stack">
                <label class="label-120">
                    Basic Salary</label>
                <div class="field">
                    @Html.TextBoxFor(m => m.EmployeeSalaryMaster.BasicSalary, new { @class = "input-190 input", entermsg = "Enter Status" })
                    @Html.ValidationMessageFor(m => m.EmployeeSalaryMaster.BasicSalary)
                </div>
            </div>
             <div class="clearfix">
        </div>

          
        </div>
    </div>
    <div class="lag checkboxs" style="width: auto">
        <div class="stack" style="width: 100% ! important;">
            <label class="label">
                Allowance </label>
            <div class="field">
                @Html.CheckBoxList("AllowanceId", Model.CheckBoxListInfos)
                @*@Html.ValidationMessageFor(m => m.AllowanceId)*@
            </div>
        </div>
    </div>
    <div class="clearfix">
    </div>
}