@model KRBAccounting.Web.ViewModels.LedgerReport.LedgerListViewModel
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
@*@Html.CustomValidationSummary("Login was unsuccessful. Please correct the errors and try again.")*@
@using (Ajax.BeginForm("LedgerListReport", "ReportLedger", new { controller = "ReportLedger" }, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "report", OnComplete = "$('#modalReportForm').modal('hide');" }, new { @class = "form-horizontal", id = "report-form" }))
{
    <div class="lag">

        <div class="lag">
            <label class="label-90">
                Report Type</label>
            <span class="field" style="width: 100px;">
               @Html.DropDownListFor(m => m.ReportType, Model.ReportTypeList, new { @class = "input-100" })
            </span>
        </div>
                
        <div class="lag">
            <label class="label-90">
                Group By
            </label>
            <span class="field">
                @Html.DropDownListFor(m => m.GroupBy, Model.GroupByList, new { @class = "input-100" })
            </span>
        </div>

        <div class="clearfix">
        </div>
       
        <div class="lag">
            <label class="label-90">
                All Ledgers</label>
            <span class="field">
                @Html.EditorFor(m => m.AllLedger)
            </span>
        </div> 
        
        <div class="lag">
            <label class="label-90">
               Include Opening</label>
            <span class="field">
                @Html.EditorFor(m => m.InclideOpening)
            </span>
        </div> 

    </div>    
}
