@using KRBAccounting.Service
@using KRBAccounting.Service.Helpers
@model KRBAccounting.Web.ViewModels.LedgerReport.BalanceSheetViewModel
@{
    decimal liabilitiesOpeningTotal = 0;
    decimal liabilitiesPeriodTotal = 0;
    decimal liabilitiesClosingTotal = 0;
    decimal assetsOpeningTotal = 0;
    decimal assetsPeriodTotal = 0;
    decimal assetsClosingTotal = 0;
}
<link rel="stylesheet" type="text/css" media="print" href="/Content/Style.css" />
<link rel="stylesheet" type="text/css" media="print" href="/Content/bootstrap/css/bootstrap.css" />
<div class="clearfix"></div>
<div class="ReportHeader" style="text-align: center">
    @Html.Partial("_PartialReportHeader", Model.ReportHeader)
</div>
<div class="ReportList">
    <table class="table" cellspacing="0" cellpadding="0" width="100%">
        <thead>
            <tr>
                <th>
                    Particular
                </th>
                <th>
                    Opening
                </th>
                <th>
                    Period
                </th>
                <th>
                    Closing
                </th>
            </tr>
        </thead>
         @if (ViewBag.ReportShow == "B" || ViewBag.ReportShow == "L")
         {
             <tr>
                 <td style="font-weight: bold; text-align: center">
                     LIABILITIES
                 </td>
                 <td>
                 </td>
                 <td>
                 </td>
                 <td>
                 </td>
             </tr>
             var AccountId = 0;
             foreach (var item in Model.BsPeriodicList.Where(x => x.LedgerId == 0 && x.ShortName == null && x.Closing != 0 && x.BSType == "L"))
             {
                if (Model.AccountSubGroup == true)
                {
                    if (AccountId != item.AccountGroupId && item.ShortName != "SubLedger")
                    {
                        <tr>
                            <td style="font-weight: bold">@item.AccountName
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                        </tr>
                        AccountId = item.AccountGroupId;
                        var AccountName = "";
                        foreach (var SubGroup in Model.BsPeriodicList.Where(x => x.AccountGroupId == item.AccountGroupId && x.BSType == "L" && x.Closing != 0 && x.LedgerId == 0 && x.ShortName != null))
                        {
                            <tr>
                                <td style="font-weight: bold; padding-left: 30px">@SubGroup.AccountName
                                </td>
                                <td style="font-weight: bold; text-align: right">
                                    @if (SubGroup.Opening != 0)
                                    {<text>@SubGroup.Opening</text>
                                    }
                                </td>
                                <td style="font-weight: bold; text-align: right">
                                    @if (SubGroup.Period != 0)
                                    {<text>@SubGroup.Period</text>
                                    }
                                </td>
                                <td style="font-weight: bold; text-align: right">
                                    @if (SubGroup.Closing != 0)
                                    {<text>@SubGroup.Closing</text>
                                    }
                                </td>
                            </tr>
                                    
                            foreach (var ledger in Model.BsPeriodicList.Where(x => x.LedgerId != 0 && x.ASGId == SubGroup.ASGId && x.AccountGroupId == SubGroup.AccountGroupId && x.BSType == "L" && x.Closing != 0 && x.ShortName != "SubLedger"))
                            {
                                liabilitiesOpeningTotal += ledger.Opening;
                                liabilitiesPeriodTotal += ledger.Period;
                                liabilitiesClosingTotal += ledger.Closing;
                                <tr>
                                    <td style="padding-left: 45px">@ledger.AccountName
                                    </td>
                                    <td style="text-align: right">
                                        @if (ledger.Opening != 0)
                                        {<text>@ledger.Opening</text>
                                        }
                                    </td>
                                    <td style="text-align: right">
                                        @if (ledger.Period != 0)
                                        {<text>@ledger.Period</text>
                                        }
                                    </td>
                                    <td style="text-align: right">
                                        @if (ledger.Closing != 0)
                                        {<text>@ledger.Closing</text>
                                        }
                                    </td>
                                </tr>
                                if (Model.Subledger == true)
                                {
                                    foreach (var subledger in Model.BsPeriodicList.Where(x => x.LedgerId == ledger.LedgerId && x.ASGId == ledger.ASGId && x.AccountGroupId == ledger.AccountGroupId && x.ASGId == ledger.ASGId  && x.BSType == "L" && x.Closing != 0 && x.ShortName == "SubLedger"))
                                    {
                                        <tr>
                                            <td style="padding-left: 60px">@subledger.AccountName
                                            </td>
                                            <td style="text-align: right">
                                                @if (subledger.Opening != 0)
                                                {<text>@subledger.Opening</text>
                                                }
                                            </td>
                                            <td style="text-align: right">
                                                @if (subledger.Period != 0)
                                                {<text>@subledger.Period</text>
                                                }
                                            </td>
                                            <td style="text-align: right">
                                                @if (subledger.Closing != 0)
                                                {<text>@subledger.Closing</text>
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        }
                    }
                }
                else
                {
                    <tr>
                        <td style="font-weight: bold">@item.AccountName
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                    foreach (var ledger in Model.BsPeriodicList.Where(x => x.AccountGroupId == item.AccountGroupId && x.BSType == "L" && x.Closing != 0 && x.LedgerId != 0))
                    {
                        liabilitiesOpeningTotal += ledger.Opening;
                        liabilitiesPeriodTotal += ledger.Period;
                        liabilitiesClosingTotal += ledger.Closing;
                        <tr>
                            <td style="padding-left: 30px">@ledger.AccountName
                            </td>
                            <td style="text-align: right">
                                @if (ledger.Opening != 0)
                                {<text>@ledger.Opening</text>
                                }
                            </td>
                            <td style="text-align: right">
                                @if (ledger.Period != 0)
                                {<text>@ledger.Period</text>
                                }
                            </td>
                            <td style="text-align: right">
                                @if (ledger.Closing != 0)
                                {<text>@ledger.Closing</text>
                                }
                            </td>
                        </tr>
                    }
                }
             }
             <tr style="font-weight: bold; text-align: right">
                 <td style="text-align: right">
                     TOTAL FOR LIABILITIES
                 </td>
                 <td style="text-align: right">
                     @liabilitiesOpeningTotal
                 </td>
                 <td style="text-align: right">
                     @liabilitiesPeriodTotal
                 </td>
                 <td style="text-align: right">
                     @liabilitiesClosingTotal
                 </td>
             </tr>
             <tr>
                 <td>
                 </td>
                 <td>
                 </td>
                 <td>
                 </td>
                 <td>
                 </td>
             </tr>
         }
          @if (ViewBag.ReportShow == "B" || ViewBag.ReportShow == "A")
          {
              <tr>
                  <td style="font-weight: bold; text-align: center">
                      ASSETS
                  </td>
                  <td>
                  </td>
                  <td>
                  </td>
                  <td>
                  </td>
              </tr>
              var AccountId = 0;
              foreach (var item in Model.BsPeriodicList.Where(x => x.LedgerId == 0 && x.ShortName == null && x.Closing != 0 && x.BSType == "A" && x.AccountCategory != "PL"))
              {
                if (Model.AccountSubGroup == true)
                {
                    <tr>
                        <td style="font-weight: bold">@item.AccountName
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                    if (AccountId != item.AccountGroupId)
                    {
                        AccountId = item.AccountGroupId;
                        var AccountName = "";
                        foreach (var subgrp in Model.BsPeriodicList.Where(x => x.AccountGroupId == item.AccountGroupId && x.BSType == "A" && x.AccountCategory != "PL" && x.Closing != 0 && x.LedgerId == 0 && x.ShortName != null))
                        {
                            <tr>
                                <td style="font-weight: bold; padding-left: 30px">@subgrp.AccountName
                                </td>
                                <td style="font-weight: bold; text-align: right">
                                    @if (subgrp.Opening != 0)
                                    {<text>@subgrp.Opening</text>
                                    }
                                </td>
                                <td style="font-weight: bold; text-align: right">
                                    @if (subgrp.Period != 0)
                                    {<text>@subgrp.Period</text>
                                    }
                                </td>
                                <td style="font-weight: bold; text-align: right">
                                    @if (subgrp.Closing != 0)
                                    {<text>@subgrp.Closing</text>
                                    }
                                </td>
                            </tr>
                            foreach (var ledger in Model.BsPeriodicList.Where(x => x.AccountGroupId == subgrp.AccountGroupId && x.ASGId == subgrp.ASGId && x.BSType == "A" && x.AccountCategory != "PL" && x.Closing != 0 && x.LedgerId != 0 && x.ShortName != "SubLedger"))
                            {
                                assetsOpeningTotal += ledger.Opening;
                                assetsPeriodTotal += ledger.Period;
                                assetsClosingTotal += ledger.Closing;
                                <tr>
                                    <td style="padding-left: 45px">@ledger.AccountName
                                    </td>
                                    <td style="text-align: right">
                                        @if (ledger.Opening != 0)
                                        {<text>@ledger.Opening</text>
                                        }
                                    </td>
                                    <td style="text-align: right">
                                        @if (ledger.Period != 0)
                                        {<text>@ledger.Period</text>
                                        }
                                    </td>
                                    <td style="text-align: right">
                                        @if (ledger.Closing != 0)
                                        {<text>@ledger.Closing</text>
                                        }
                                    </td>
                                </tr>
                                if (Model.Subledger == true)
                                {
                                    foreach (var subledger in Model.BsPeriodicList.Where(x => x.LedgerId == ledger.LedgerId && x.AccountGroupId == ledger.AccountGroupId && x.ASGId == ledger.ASGId && x.BSType == "A" && x.AccountCategory != "PL" && x.Closing != 0 && x.ShortName == "SubLedger"))
                                    {
                                        <tr>
                                            <td style="padding-left: 60px">@subledger.AccountName
                                            </td>
                                            <td style="text-align: right">
                                                @if (subledger.Opening != 0)
                                                {<text>@subledger.Opening</text>
                                                }
                                            </td>
                                            <td style="text-align: right">
                                                @if (subledger.Period != 0)
                                                {<text>@subledger.Period</text>
                                                }
                                            </td>
                                            <td style="text-align: right">
                                                @if (subledger.Closing != 0)
                                                {<text>@subledger.Closing</text>
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        }
                    }
                }
                else
                {
                    <tr>
                        <td style="font-weight: bold">@item.AccountName
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                    foreach (var ledger in Model.BsPeriodicList.Where(x => x.AccountGroupId == item.AccountGroupId && x.BSType == "A" && x.AccountCategory != "PL" && x.Closing != 0 && x.LedgerId != 0))
                    {
                        assetsOpeningTotal += ledger.Opening;
                        assetsPeriodTotal += ledger.Period;
                        assetsClosingTotal += ledger.Closing;
                        <tr>
                            <td style="padding-left: 30px">@ledger.AccountName
                            </td>
                            <td style="text-align: right">
                                @if (ledger.Opening != 0)
                                {<text>@ledger.Opening</text>
                                }
                            </td>
                            <td style="text-align: right">
                                @if (ledger.Period != 0)
                                {<text>@ledger.Period</text>
                                }
                            </td>
                            <td style="text-align: right">
                                @if (ledger.Closing != 0)
                                {<text>@ledger.Closing</text>
                                }
                            </td>
                        </tr>
                    }

                }
            }
            <tr style="font-weight: bold; text-align: right">
                  <td style="text-align: right">
                      TOTAL FOR ASSETS
                  </td>
                  <td style="text-align: right">
                      @assetsOpeningTotal
                  </td>
                  <td style="text-align: right">
                      @assetsPeriodTotal
                  </td>
                  <td style="text-align: right">
                      @assetsClosingTotal
                  </td>
              </tr>
          }
    </table>
</div>
