@using KRBAccounting.Service
@using KRBAccounting.Service.Helpers
@model KRBAccounting.Web.ViewModels.LedgerReport.BalanceSheetViewModel
@{
    decimal liabilitesTotal = 0;
    decimal assetsTotal = 0;
    var AccountId = 0;
}
<link rel="stylesheet" type="text/css" media="print" href="/Content/Style.css" />
<link rel="stylesheet" type="text/css" media="print" href="/Content/bootstrap/css/bootstrap.css" />
<div class="clearfix"></div>
<div class="ReportHeader" style="text-align: center">
    @Html.Partial("_PartialReportHeader", Model.ReportHeader)
</div>
<div class="ReportList">
    <table class="table" cellspacing="0" cellpadding="0" width="100%">
        @if (Model.Ledger == true && Model.Subledger == false)
        {
            <thead>
                <tr>
                    <th>
                        Particular
                    </th>
                    <th>
                        Ledger Total
                    </th>
                </tr>
            </thead>
            if (ViewBag.ReportShow == "B" || ViewBag.ReportShow == "L")
            {
                <tr>
                    <td style="font-weight: bold; text-align: center">
                        LIABILITIES
                    </td>
                    <td>
                    </td>
                </tr>
                foreach (var item in Model.BsLedgerWiseList.Where(x => x.ShortName==null))
                {
                    if (item.LedgerTotal != 0)
                    {
                        if (item.BSType == "L")
                        {
                            liabilitesTotal += item.LedgerTotal;
                            <tr>
                                <td>@item.AccountName
                                </td>
                                <td style="text-align: right">@item.LedgerTotal
                                </td>
                            </tr>
                        }
                    }
                }
                <tr>
                    <td style="font-weight: bold; text-align: right">
                        TOTAL FOR LIABILITIES
                    </td>
                    <td style="font-weight: bold; text-align: right">
                        @liabilitesTotal
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
            }

            if (ViewBag.ReportShow == "B" || ViewBag.ReportShow == "A")
            {
                <tr>
                    <td style="font-weight: bold; text-align: center">
                        ASSETS
                    </td>
                    <td>
                    </td>
                </tr>
                foreach (var item in Model.BsLedgerWiseList.Where(x => x.ShortName == null))
                {
                    if (item.LedgerTotal != 0)
                    {
                        if (item.BSType == "A" && item.AccountCategory != "PL")
                        {
                            assetsTotal += item.LedgerTotal;
                            <tr>
                                <td>@item.AccountName
                                </td>
                                <td style="text-align: right">@item.LedgerTotal
                                </td>
                            </tr>
                        }
                    }

                }
                <tr>
                    <td style="font-weight: bold; text-align: right">
                        TOTAL FOR ASSETS
                    </td>
                    <td style="font-weight: bold; text-align: right">
                        @assetsTotal
                    </td>
                </tr>
            }
        }
        else if (Model.Ledger == true && Model.Subledger == true)
        {
            <thead>
                <tr>
                    <th>
                        Particular
                    </th>
                    <th>
                        Sub Ledger Total
                    </th>
                    <th>
                        Ledger Total
                    </th>
                </tr>
            </thead>
            var AccountName = "";
            if (ViewBag.ReportShow == "B" || ViewBag.ReportShow == "L")
            {
                <tr>
                    <td style="font-weight: bold; text-align: center">
                        LIABILITIES
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                     foreach (var item in Model.BsLedgerWiseList.Where(x => x.LedgerTotal != 0 && x.BSType == "L"))
                     {
                        if (item.ShortName == null)
                        {
                            liabilitesTotal += item.LedgerTotal;
                            <tr>
                                <td style="font-weight: bold">@item.AccountName
                                </td>
                                <td>
                                </td>
                                <td style="font-weight: bold; text-align: right">@item.LedgerTotal
                                </td>
                            </tr>
                        }
                        if (item.ShortName != null)
                        {
                            <tr>
                                <td style="padding-left: 30px">@item.AccountName
                                </td>
                                <td style="text-align: right">@item.LedgerTotal
                                </td>
                                <td>
                                </td>
                            </tr>
                        }
                     }
                <tr>
                    <td style="font-weight: bold; text-align: right">
                        TOTAL FOR LIABILITIES
                    </td>
                    <td>
                    </td>
                    <td style="font-weight: bold; text-align: right">
                        @liabilitesTotal
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                 }

                 if (ViewBag.ReportShow == "B" || ViewBag.ReportShow == "A")
                 {
                    <tr>
                        <td style="font-weight: bold; text-align: center">
                            ASSETS
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                     foreach (var item in Model.BsLedgerWiseList.Where(x => x.LedgerTotal != 0 && x.BSType == "A" && x.AccountCategory != "PL"))
                     {
                        if (item.ShortName == null)
                        {
                            assetsTotal += item.LedgerTotal;
                            <tr>
                                <td style="font-weight: bold">@item.AccountName
                                </td>
                                <td>
                                </td>
                                <td style="font-weight: bold; text-align: right">@item.LedgerTotal
                                </td>
                            </tr>
                            }
                        if (item.ShortName != null)
                        {
                            <tr>
                                <td style="padding-left: 30px">@item.AccountName
                                </td>
                                <td style="text-align: right">@item.LedgerTotal
                                </td>
                                <td>
                                </td>
                            </tr>
                        }
                     }
                <tr>
                    <td style="font-weight: bold; text-align: right">
                        TOTAL FOR ASSETS
                    </td>
                    <td>
                    </td>
                    <td style="font-weight: bold; text-align: right">
                        @assetsTotal
                    </td>
                </tr>
                 }
             }
    </table>
</div>
