@model KRBAccounting.Domain.Entities.CompanyInfo
@{
    ViewBag.Title = "Log On";
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";
}
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
@*@Html.CustomValidationSummary("Login was unsuccessful. Please correct the errors and try again.")*@
@using (Html.BeginForm("Company","Home"))
{
    <h2>
        Company Info</h2>
    <div class="well">
        <fieldset>
            <div class="clearfix">
                @Html.LabelFor(m => m.Initial)
                <div class="input">
                    @Html.TextBoxFor(m => m.Initial)
                    @Html.ValidationMessageFor(m => m.Initial)
                </div>
            </div>an 
            <div class="clearfix">
                @Html.LabelFor(model => model.StartDate)
                <div class="input">
                    @Html.EditorFor(model => model.StartDate)
                    @Html.ValidationMessageFor(model => model.StartDate)
                </div>
            </div>
            <div class="clearfix">
                @Html.LabelFor(model => model.EndDate)
                <div class="input">
                    @Html.EditorFor(model => model.EndDate)
                    @Html.ValidationMessageFor(model => model.EndDate)
                </div>
            </div>
            <div class="clearfix">
                @Html.LabelFor(m => m.Name)
                <div class="input">
                    @Html.TextBoxFor(m => m.Name)
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>
            <div class="clearfix">
                @Html.LabelFor(m => m.Country)
                <div class="input">
                    @Html.TextBoxFor(m => m.Country)
                    @Html.ValidationMessageFor(m => m.Country)
                </div>
            </div>
            <div class="clearfix">
                @Html.LabelFor(m => m.State)
                <div class="input">
                    @Html.TextBoxFor(m => m.State)
                    @Html.ValidationMessageFor(m => m.State)
                </div>
            </div>
            <div class="clearfix">
                @Html.LabelFor(m => m.City)
                <div class="input">
                    @Html.TextBoxFor(m => m.City)
                    @Html.ValidationMessageFor(m => m.City)
                </div>
            </div>
            <div class="clearfix">
                @Html.LabelFor(m => m.Address)
                <div class="input">
                    @Html.TextBoxFor(m => m.Address)
                    @Html.ValidationMessageFor(m => m.Address)
                </div>
            </div>
            <div class="clearfix">
                @Html.LabelFor(m => m.PhoneNo)
                <div class="input">
                    @Html.TextBoxFor(m => m.PhoneNo)
                    @Html.ValidationMessageFor(m => m.PhoneNo)
                </div>
            </div>
            <div class="clearfix">
                @Html.LabelFor(m => m.Fax)
                <div class="input">
                    @Html.TextBoxFor(m => m.Fax)
                    @Html.ValidationMessageFor(m => m.Fax)
                </div>
            </div>
            <div class="clearfix">
                @Html.LabelFor(m => m.Email)
                <div class="input">
                    @Html.TextBoxFor(m => m.Email)
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
            </div>
            <div class="clearfix">
                @Html.LabelFor(m => m.PanNo)
                <div class="input">
                    @Html.TextBoxFor(m => m.PanNo)
                    @Html.ValidationMessageFor(m => m.PanNo)
                </div>
            </div>
            <div class="clearfix">
                @Html.LabelFor(m => m.TaxInvoice)
                <div class="input">
                    @Html.TextBoxFor(m => m.TaxInvoice)
                    @Html.ValidationMessageFor(m => m.TaxInvoice)
                </div>
            </div>
        </fieldset>
        <div class="form-actions">
            <button class="btn btn-primary" type="submit" value="Log On">Create</button>
        </div>
    </div>
}
<script  type="text/javascript">
    $(function () {
        $("#StartDate").datepicker({
            dateFormat: "dd/mm/yy",
            defaultDate: "+1w",
            changeMonth: true,
            numberOfMonths: 1,
            onSelect: function (selectedDate) {
                $("#to").datepicker("option", "minDate", selectedDate);
            }
        });
        $("#EndDate").datepicker({
            dateFormat: "dd/mm/yy",
            defaultDate: "+1w",
            changeMonth: true,
            numberOfMonths: 1,
            onSelect: function (selectedDate) {
                $("#from").datepicker("option", "maxDate", selectedDate);
            }
        });
    });
</script>
